In [239]:
import pandas as pd
import numpy as np
import ast
import matplotlib.pyplot as plt
import warnings
warnings.filterwarnings(action = 'ignore')

# USER ACTIVITY

In [2]:
df_userAct = pd.read_csv("UserActivity.csv").drop_duplicates()
df_userAct

,User_ID,Title,datetime time,datetime Year,datetime Month,datetime Day_of_month
0,ID_RT43AK77,comp_ID_IV5D,22:00:38,1,11,22
1,ID_RT43AK77,comp_ID_IV5D,00:41:02,1,11,23
2,ID_RT43AK77,comp_ID_IV5D,00:53:15,1,11,23
3,ID_RT43AK77,comp_ID_IV5D,01:23:05,1,11,23
4,ID_RT43AK77,comp_ID_IV5D,01:27:38,1,11,23
...,...,...,...,...,...,...
317287,ID_Z759BCS3,job_ID_5ONI,07:14:47,1,11,14
317288,ID_WNJMADF8,job_ID_5ONI,06:24:46,1,11,14
317289,ID_7NBY9MV2,job_ID_5ONI,11:56:35,1,11,20
317290,ID_LHPJJSOK,job_ID_5ONI,01:27:13,1,11,14
317291,ID_LCFNGARD,job_ID_5ONI,08:40:29,1,11,17

In [3]:
df_userAct.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 317292 entries, 0 to 317291
Data columns (total 6 columns):
 #   Column                 Non-Null Count   Dtype
---  ------                 --------------   -----
 0   User_ID                317292 non-null  object
 1   Title                  317292 non-null  object
 2   datetime time          317292 non-null  object
 3   datetime Year          317292 non-null  int64
 4   datetime Month         317292 non-null  int64
 5   datetime Day_of_month  317292 non-null  int64
dtypes: int64(3), object(3)
memory usage: 16.9+ MB

In [4]:
len(pd.unique(df_userAct['User_ID']))

10400

In [5]:
len(pd.unique(df_userAct['datetime Year']))

1

In [6]:
df_userAct.drop('datetime Year', inplace=True, axis=1)

In [7]:
df_userAct["datetime Month"].value_counts()

2     61181
1     58292
5     57258
3     56323
12    42047
4     26962
11    15229
Name: datetime Month, dtype: int64

In [8]:
len(df_userAct[df_userAct['datetime Month'] == 5].User_ID.unique())

2203

In [9]:
df_userAct["User_ID"] = df_userAct["User_ID"].astype("string")
df_userAct["datetime Month"] = df_userAct["datetime Month"].astype("string")

In [10]:
df_userAct.drop("datetime time", inplace=True, axis=1)

In [11]:
df_userAct["Title"].value_counts()

Viewed All Competitions            58176
Viewed All Discussions             47172
Viewed All Learning Pages          22930
Downloaded Competition Datafile    19578
Updated Profile                    14748
                                   ...
comp_ID_TJK9                           1
comp_ID_TBXU                           1
blog_ID_NVX3                           1
blog_ID_R97T                           1
blog_ID_22WI                           1
Name: Title, Length: 397, dtype: int64

In [12]:
new = df_userAct["datetime Month"].copy()
df_userAct["User_ID"] = df_userAct["User_ID"].str.cat(new, sep ="_Month_")

In [13]:
df_userAct.drop('datetime Month', inplace=True, axis=1)

In [14]:
df_userAct["Title"] = df_userAct["Title"].astype("string")

In [15]:
df_userAct["Title"].unique()

<StringArray>
[                     'comp_ID_IV5D',                      'comp_ID_M3ST',
                      'comp_ID_ZN92',                      'comp_ID_DD5S',
                      'comp_ID_1261',                      'comp_ID_X0PD',
                      'comp_ID_L3EB',                      'comp_ID_JPR9',
                      'comp_ID_TDAE',                      'comp_ID_Q8XJ',
 ...
                   'Votes (Up/Down)',       'Transferred Team Leadership',
                        'badge_PLDS',                  'Changed Password',
                      'Deleted Team', 'Accepted Team Leadership Transfer',
  'Revoked Team Leadership Transfer',                  'Report Something',
           'Kicked Member From Team',                         'Left Team']
Length: 397, dtype: string

In [16]:
from sklearn import preprocessing

In [17]:
le = preprocessing.LabelEncoder()

In [18]:
def remove_id(x):
    x = x.replace('$', '')
    if 'ID' in x:
        return "_".join(x.split('_')[:-1])
    
    return x.replace(' ', '_')

df_userAct.Title.apply(remove_id).value_counts()

Viewed_All_Competitions                 58176
comp_ID                                 55540
Viewed_All_Discussions                  47172
Viewed_All_Learning_Pages               22930
Downloaded_Competition_Datafile         19578
Updated_Profile                         14748
Created_Submission                      13649
identify                                12339
Signed_Up                               10862
create_alias                             9346
badge_OCZE                               8864
Confirmed_Email                          8818
Updated_Discussion                       6498
Joined_Competition                       6086
Viewed_All_Jobs                          4139
Signed_In                                4100
Updated_Submission                       2929
blog_ID                                  2712
badge_HYIO                               1760
Signed_Out                               1660
job_ID                                   1492
Viewed_Discussion                        1207
Updated_Comment                           656
badge_MLPD                                457
Joined_Team                               384
Invited_Member_To_Team                    344
Created_Team                              310
Votes_(Up/Down)                           149
Applied_To_Job                            126
Viewed_FAQ                                104
Updated_Team                               42
badge_PLDS                                 40
Deleted_Team                               28
Transferred_Team_Leadership                14
Updated_Discussion_Team_Participants       10
Accepted_Team_Leadership_Transfer           9
Changed_Password                            5
Left_Team                                   4
Kicked_Member_From_Team                     3
Revoked_Team_Leadership_Transfer            1
Report_Something                            1
Name: Title, dtype: int64

In [19]:
df_userAct['main_activities'] = df_userAct.Title.apply(remove_id)
df_userAct.main_activities.unique()

array(['comp_ID', 'job_ID', 'blog_ID', 'create_alias', 'identify',
       'Signed_Up', 'Viewed_All_Competitions', 'Viewed_All_Discussions',
       'Viewed_All_Learning_Pages', 'Confirmed_Email',
       'Joined_Competition', 'Downloaded_Competition_Datafile',
       'Signed_In', 'Updated_Discussion', 'Joined_Team',
       'Created_Submission', 'Viewed_Discussion', 'Updated_Submission',
       'Signed_Out', 'badge_OCZE', 'Updated_Profile', 'Viewed_FAQ',
       'Viewed_All_Jobs', 'Created_Team', 'Invited_Member_To_Team',
       'Updated_Team', 'Updated_Comment',
       'Updated_Discussion_Team_Participants', 'badge_HYIO', 'badge_MLPD',
       'Applied_To_Job', 'Votes_(Up/Down)', 'Transferred_Team_Leadership',
       'badge_PLDS', 'Changed_Password', 'Deleted_Team',
       'Accepted_Team_Leadership_Transfer',
       'Revoked_Team_Leadership_Transfer', 'Report_Something',
       'Kicked_Member_From_Team', 'Left_Team'], dtype=object)

In [20]:
act_vc = df_userAct.main_activities.value_counts()
selected_activities = act_vc[act_vc > 1000].keys()
selected_activities

Index(['Viewed_All_Competitions', 'comp_ID', 'Viewed_All_Discussions',
       'Viewed_All_Learning_Pages', 'Downloaded_Competition_Datafile',
       'Updated_Profile', 'Created_Submission', 'identify', 'Signed_Up',
       'create_alias', 'badge_OCZE', 'Confirmed_Email', 'Updated_Discussion',
       'Joined_Competition', 'Viewed_All_Jobs', 'Signed_In',
       'Updated_Submission', 'blog_ID', 'badge_HYIO', 'Signed_Out', 'job_ID',
       'Viewed_Discussion'],
      dtype='object')

In [21]:
df_userAct = df_userAct[df_userAct.main_activities.isin(selected_activities)].reset_index(drop=True)
df_userAct

,User_ID,Title,datetime Day_of_month,main_activities
0,ID_RT43AK77_Month_11,comp_ID_IV5D,22,comp_ID
1,ID_RT43AK77_Month_11,comp_ID_IV5D,23,comp_ID
2,ID_RT43AK77_Month_11,comp_ID_IV5D,23,comp_ID
3,ID_RT43AK77_Month_11,comp_ID_IV5D,23,comp_ID
4,ID_RT43AK77_Month_11,comp_ID_IV5D,23,comp_ID
...,...,...,...,...
314600,ID_Z759BCS3_Month_11,job_ID_5ONI,14,job_ID
314601,ID_WNJMADF8_Month_11,job_ID_5ONI,14,job_ID
314602,ID_7NBY9MV2_Month_11,job_ID_5ONI,20,job_ID
314603,ID_LHPJJSOK_Month_11,job_ID_5ONI,14,job_ID
314604,ID_LCFNGARD_Month_11,job_ID_5ONI,17,job_ID

In [22]:
dataset = df_userAct.groupby(['User_ID', 'main_activities']).size().reset_index().\
    rename(columns={0: 'count'}).\
        sort_values(['User_ID', 'count'], ascending=False)

dataset

                    User_ID                  main_activities  count
111314  ID_ZZVUJ45W_Month_3  Downloaded_Competition_Datafile      3
111318  ID_ZZVUJ45W_Month_3           Viewed_All_Discussions      2
111313  ID_ZZVUJ45W_Month_3                  Confirmed_Email      1
111315  ID_ZZVUJ45W_Month_3               Joined_Competition      1
111316  ID_ZZVUJ45W_Month_3                        Signed_Up      1
...                     ...                              ...    ...
1       ID_000H9XOP_Month_5          Viewed_All_Competitions      1
2       ID_000H9XOP_Month_5           Viewed_All_Discussions      1
3       ID_000H9XOP_Month_5                          comp_ID      1
4       ID_000H9XOP_Month_5                     create_alias      1
5       ID_000H9XOP_Month_5                         identify      1

[111323 rows x 3 columns]

In [23]:
dataset.main_activities.nunique()

22

In [24]:
all_activities = dataset.main_activities.unique()

In [25]:
dataset[dataset.main_activities == "comp_ID"].drop(columns='main_activities').reset_index(drop=True)

                   User_ID  count
0      ID_ZZQK0LU6_Month_3     35
1      ID_ZZJKFBR5_Month_2      2
2     ID_ZZJKFBR5_Month_12     24
3      ID_ZZFZI3DK_Month_5      2
4     ID_ZZ852GLE_Month_12      7
...                    ...    ...
7411   ID_01BEG5HQ_Month_3      8
7412  ID_015M2NE1_Month_12      1
7413   ID_011YM9VH_Month_3      4
7414   ID_011YM9VH_Month_2      1
7415   ID_000H9XOP_Month_5      1

[7416 rows x 2 columns]

In [26]:
for activity in all_activities:
    dataset[activity] = np.zeros((dataset.shape[0], 1))

In [27]:
dataset

,User_ID,main_activities,count,Downloaded_Competition_Datafile,Viewed_All_Discussions,Confirmed_Email,Joined_Competition,Signed_Up,Viewed_All_Competitions,Viewed_All_Learning_Pages,...,job_ID,Updated_Discussion,Viewed_All_Jobs,Created_Submission,Signed_Out,Updated_Profile,blog_ID,Viewed_Discussion,Updated_Submission,badge_HYIO
111314,ID_ZZVUJ45W_Month_3,Downloaded_Competition_Datafile,3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
111318,ID_ZZVUJ45W_Month_3,Viewed_All_Discussions,2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
111313,ID_ZZVUJ45W_Month_3,Confirmed_Email,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
111315,ID_ZZVUJ45W_Month_3,Joined_Competition,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
111316,ID_ZZVUJ45W_Month_3,Signed_Up,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1,ID_000H9XOP_Month_5,Viewed_All_Competitions,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,ID_000H9XOP_Month_5,Viewed_All_Discussions,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,ID_000H9XOP_Month_5,comp_ID,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,ID_000H9XOP_Month_5,create_alias,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5,ID_000H9XOP_Month_5,identify,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [28]:
for i in range(len(dataset)):
    for activity in all_activities:
        if dataset.loc[i, "main_activities"] == activity:
            dataset.loc[i, activity] = dataset.loc[i, "count"]

In [29]:
dataset = dataset.groupby("User_ID").sum().reset_index()

In [30]:
dataset.drop("count", inplace=True, axis=1)

In [31]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15139 entries, 0 to 15138
Data columns (total 23 columns):
 #   Column                           Non-Null Count  Dtype
---  ------                           --------------  -----
 0   User_ID                          15139 non-null  object
 1   Downloaded_Competition_Datafile  15139 non-null  float64
 2   Viewed_All_Discussions           15139 non-null  float64
 3   Confirmed_Email                  15139 non-null  float64
 4   Joined_Competition               15139 non-null  float64
 5   Signed_Up                        15139 non-null  float64
 6   Viewed_All_Competitions          15139 non-null  float64
 7   Viewed_All_Learning_Pages        15139 non-null  float64
 8   badge_OCZE                       15139 non-null  float64
 9   create_alias                     15139 non-null  float64
 10  identify                         15139 non-null  float64
 11  comp_ID                          15139 non-null  float64
 12  Signed_In                        15139 non-null  float64
 13  job_ID                           15139 non-null  float64
 14  Updated_Discussion               15139 non-null  float64
 15  Viewed_All_Jobs                  15139 non-null  float64
 16  Created_Submission               15139 non-null  float64
 17  Signed_Out                       15139 non-null  float64
 18  Updated_Profile                  15139 non-null  float64
 19  blog_ID                          15139 non-null  float64
 20  Viewed_Discussion                15139 non-null  float64
 21  Updated_Submission               15139 non-null  float64
 22  badge_HYIO                       15139 non-null  float64
dtypes: float64(22), object(1)
memory usage: 2.7+ MB

In [32]:
dataset

,User_ID,Downloaded_Competition_Datafile,Viewed_All_Discussions,Confirmed_Email,Joined_Competition,Signed_Up,Viewed_All_Competitions,Viewed_All_Learning_Pages,badge_OCZE,create_alias,...,job_ID,Updated_Discussion,Viewed_All_Jobs,Created_Submission,Signed_Out,Updated_Profile,blog_ID,Viewed_Discussion,Updated_Submission,badge_HYIO
0,ID_000H9XOP_Month_5,0.0,1.0,0.0,0.0,1.0,1.0,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,ID_003YJHQA_Month_4,0.0,2.0,1.0,0.0,1.0,1.0,1.0,1.0,1.0,...,0.0,0.0,0.0,0.0,0.0,2.0,0.0,0.0,0.0,0.0
2,ID_004UKSJV_Month_1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,ID_004UKSJV_Month_12,0.0,1.0,1.0,0.0,1.0,1.0,1.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,4.0,0.0,0.0,0.0,0.0
4,ID_008D2J6C_Month_1,0.0,1.0,1.0,0.0,1.0,1.0,1.0,1.0,1.0,...,0.0,0.0,0.0,0.0,0.0,2.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15134,ID_ZZJKFBR5_Month_2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
15135,ID_ZZMHNLNT_Month_4,0.0,1.0,1.0,0.0,1.0,1.0,1.0,1.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
15136,ID_ZZQK0LU6_Month_3,7.0,4.0,1.0,2.0,1.0,14.0,1.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
15137,ID_ZZUNZJ2U_Month_2,0.0,1.0,1.0,0.0,1.0,3.0,3.0,1.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
15138,ID_ZZVUJ45W_Month_3,3.0,2.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [33]:
df_userAct = pd.merge(df_userAct, dataset, how="left", on=['User_ID'])

In [34]:
df_userAct.drop("Title", inplace=True, axis=1)
df_userAct.drop("main_activities", inplace=True, axis=1)

In [35]:
df_userAct.rename(columns={'Theme': 'Blog Theme'},  inplace = True)

In [37]:
df_userAct.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 314605 entries, 0 to 314604
Data columns (total 24 columns):
 #   Column                           Non-Null Count   Dtype
---  ------                           --------------   -----
 0   User_ID                          314605 non-null  object
 1   datetime Day_of_month            314605 non-null  int64
 2   Downloaded_Competition_Datafile  314605 non-null  float64
 3   Viewed_All_Discussions           314605 non-null  float64
 4   Confirmed_Email                  314605 non-null  float64
 5   Joined_Competition               314605 non-null  float64
 6   Signed_Up                        314605 non-null  float64
 7   Viewed_All_Competitions          314605 non-null  float64
 8   Viewed_All_Learning_Pages        314605 non-null  float64
 9   badge_OCZE                       314605 non-null  float64
 10  create_alias                     314605 non-null  float64
 11  identify                         314605 non-null  float64
 12  comp_ID                          314605 non-null  float64
 13  Signed_In                        314605 non-null  float64
 14  job_ID                           314605 non-null  float64
 15  Updated_Discussion               314605 non-null  float64
 16  Viewed_All_Jobs                  314605 non-null  float64
 17  Created_Submission               314605 non-null  float64
 18  Signed_Out                       314605 non-null  float64
 19  Updated_Profile                  314605 non-null  float64
 20  blog_ID                          314605 non-null  float64
 21  Viewed_Discussion                314605 non-null  float64
 22  Updated_Submission               314605 non-null  float64
 23  badge_HYIO                       314605 non-null  float64
dtypes: float64(22), int64(1), object(1)
memory usage: 60.0+ MB

In [38]:
df_temp1 = df_userAct.groupby('User_ID').max()

In [39]:
df_temp2 = df_userAct.groupby('User_ID').mean()

In [40]:
df_temp3 = df_userAct.groupby('User_ID').count()

In [41]:
df_temp4 = df_userAct.groupby('User_ID').min()

In [42]:
df_temp = df_temp2

In [44]:
#Last day active
df_temp["datetime Day_of_month"] = df_temp1["datetime Day_of_month"]

In [45]:
df_temp["count_UA"] = df_temp3["datetime Day_of_month"]

In [46]:
df_temp["Day duration"] = df_temp1["datetime Day_of_month"] - df_temp4["datetime Day_of_month"]

Will add 1 to "day duration" after merging.

In [47]:
df_userAct = df_temp

df_userAct.sort_values('User_ID')

In [48]:
df_userAct = df_userAct.reset_index()

In [49]:
df_userAct

,User_ID,datetime Day_of_month,Downloaded_Competition_Datafile,Viewed_All_Discussions,Confirmed_Email,Joined_Competition,Signed_Up,Viewed_All_Competitions,Viewed_All_Learning_Pages,badge_OCZE,...,Viewed_All_Jobs,Created_Submission,Signed_Out,Updated_Profile,blog_ID,Viewed_Discussion,Updated_Submission,badge_HYIO,count_UA,Day duration
0,ID_000H9XOP_Month_5,26,0.0,1.0,0.0,0.0,1.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,6,4
1,ID_003YJHQA_Month_4,12,0.0,2.0,1.0,0.0,1.0,1.0,1.0,1.0,...,0.0,0.0,0.0,2.0,0.0,0.0,0.0,0.0,11,0
2,ID_004UKSJV_Month_1,15,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1,0
3,ID_004UKSJV_Month_12,29,0.0,1.0,1.0,0.0,1.0,1.0,1.0,0.0,...,0.0,0.0,0.0,4.0,0.0,0.0,0.0,0.0,11,1
4,ID_008D2J6C_Month_1,15,0.0,1.0,1.0,0.0,1.0,1.0,1.0,1.0,...,0.0,0.0,0.0,2.0,0.0,0.0,0.0,0.0,10,8
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15134,ID_ZZJKFBR5_Month_2,20,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2,0
15135,ID_ZZMHNLNT_Month_4,1,0.0,1.0,1.0,0.0,1.0,1.0,1.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,8,0
15136,ID_ZZQK0LU6_Month_3,30,7.0,4.0,1.0,2.0,1.0,14.0,1.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,67,1
15137,ID_ZZUNZJ2U_Month_2,30,0.0,1.0,1.0,0.0,1.0,3.0,3.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,12,0
15138,ID_ZZVUJ45W_Month_3,5,3.0,2.0,1.0,1.0,1.0,1.0,1.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,13,0

# COMPETITIONS

In [50]:
df_comp = pd.read_csv("Competition.csv").drop_duplicates()

In [51]:
df_comp.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 247 entries, 0 to 246
Data columns (total 20 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   FeatureA                 247 non-null    object
 1   FeatureB                 247 non-null    object
 2   FeatureC                 196 non-null    float64
 3   FeatureD                 247 non-null    int64
 4   FeatureE                 247 non-null    int64
 5   SecretCode               247 non-null    int64
 6   FeatureF                 247 non-null    object
 7   FeatureG                 247 non-null    object
 8   FeatureH                 247 non-null    object
 9   FeatureI                 186 non-null    float64
 10  Country_ID               121 non-null    object
 11  Comp_ID                  247 non-null    object
 12  End Time time            224 non-null    object
 13  End Time Year            224 non-null    float64
 14  End Time Month           224 non-null    float64
 15  End Time Day_of_month    224 non-null    float64
 16  Start Time time          247 non-null    object
 17  Start Time Year          247 non-null    int64
 18  Start Time Month         247 non-null    int64
 19  Start Time Day_of_month  247 non-null    int64
dtypes: float64(5), int64(6), object(9)
memory usage: 40.5+ KB

In [52]:
df_comp

,FeatureA,FeatureB,FeatureC,FeatureD,FeatureE,SecretCode,FeatureF,FeatureG,FeatureH,FeatureI,Country_ID,Comp_ID,End Time time,End Time Year,End Time Month,End Time Day_of_month,Start Time time,Start Time Year,Start Time Month,Start Time Day_of_month
0,"[2, 4]",[14],15.0,0,2,1,[3],[],[],NaN,G3F0,ID_AU0T,21:05:00,2.0,6.0,19.0,07:00:00,2,6,19
1,[1],[],3.0,0,3,1,[1],[],[1],3.0,0Q35,ID_O21T,15:30:00,2.0,2.0,15.0,12:00:00,2,2,1
2,[1],[9],2.0,0,2,1,"[1, 5]",[5],[1],2.0,EGI9,ID_W6XE,21:59:00,2.0,5.0,9.0,08:00:00,2,3,28
3,[],[],1.0,0,2,1,[1],[4],[],NaN,NaN,ID_A2FN,12:00:00,2.0,6.0,22.0,12:00:00,2,6,12
4,[],[6],NaN,0,2,0,[],[4],[2],9.0,NaN,ID_X0PD,23:59:00,2.0,5.0,31.0,09:00:00,2,5,27
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
242,[],[],NaN,1,2,0,[2],[5],[2],NaN,NaN,ID_GR92,15:00:00,1.0,2.0,1.0,05:00:00,1,1,1
243,[1],[],2.0,1,2,0,[1],[5],[1],2.0,NaN,ID_8BH9,23:59:00,1.0,6.0,27.0,15:00:00,1,6,1
244,[1],[],NaN,0,2,1,[1],[3],[],NaN,H03V,ID_IHRZ,17:00:00,1.0,10.0,20.0,08:57:00,1,10,19
245,[1],[],25.0,0,2,1,[1],[5],[2],NaN,EGI9,ID_CMWO,12:00:00,1.0,5.0,31.0,12:00:00,1,5,1
246,[1],[],2.0,0,2,0,[3],[3],[2],2.0,ZEWU,ID_OAR6,23:59:00,1.0,4.0,4.0,11:00:00,1,4,2

In [53]:
len(pd.unique(df_comp['Comp_ID']))

247

# COMPETITION PARTICIPATION

In [54]:
df_compP = pd.read_csv("CompetitionPartipation.csv").drop_duplicates()

In [55]:
df_compP.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 8385 entries, 0 to 8384
Data columns (total 8 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   Competition ID               8385 non-null   object
 1   Participant Type             8385 non-null   int64
 2   Successful Submission Count  1449 non-null   object
 3   User_ID                      8385 non-null   object
 4   Created At time              8385 non-null   object
 5   Created At Year              8385 non-null   int64
 6   Created At Month             8385 non-null   int64
 7   Created At Day_of_month      8385 non-null   int64
dtypes: int64(4), object(4)
memory usage: 589.6+ KB

In [56]:
df_compP

,Competition ID,Participant Type,Successful Submission Count,User_ID,Created At time,Created At Year,Created At Month,Created At Day_of_month
0,ID_WPP3,1,NaN,ID_40G01FGV,19:38:04.689865,1,11,20
1,ID_ZN92,1,NaN,ID_40G01FGV,19:38:04.670583,1,11,20
2,ID_I9BN,1,NaN,ID_40G01FGV,12:06:55.884320,1,12,17
3,ID_PDKH,1,count 10,ID_40G01FGV,11:24:04.239058,1,12,6
4,ID_CFN7,1,NaN,ID_P33ABQX5,05:16:09.052129,1,5,26
...,...,...,...,...,...,...,...,...
8380,ID_F7QD,1,NaN,ID_QR2HEY6L,22:10:28.532519,1,1,15
8381,ID_F7QD,1,NaN,ID_K1MDGNKE,20:54:47.902303,1,3,1
8382,ID_F7QD,1,NaN,ID_M8FQBYIH,18:57:10.479540,1,12,27
8383,ID_F7QD,1,NaN,ID_9IP2OICN,21:03:14.798218,1,12,13
8384,ID_F7QD,1,NaN,ID_JUE09Z86,11:02:22.739630,1,5,5

In [57]:
len(pd.unique(df_compP['User_ID']))

5245

In [58]:
len(pd.unique(df_compP['Created At Year']))

1

In [59]:
df_compP.drop('Created At Year', inplace=True, axis=1)

In [60]:
df_compP.rename(columns={'Competition ID': 'Comp_ID'},  inplace = True)

In [61]:
df_compP["User_ID"] = df_compP["User_ID"].astype("string")
df_compP["Created At Month"] = df_compP["Created At Month"].astype("string")

In [62]:
new = df_compP["Created At Month"].copy()
df_compP["User_ID"] = df_compP["User_ID"].str.cat(new, sep ="_Month_")

In [63]:
df_compP.drop('Created At Month', inplace=True, axis=1)

In [64]:
# df_compP.rename(columns={'Created At time': 'Comp_participation_time'},  inplace = True)

In [65]:
df_compP.rename(columns={'Created At Day_of_month': 'Comp_participation_day'},  inplace = True)

In [66]:
df_compP

,Comp_ID,Participant Type,Successful Submission Count,User_ID,Created At time,Comp_participation_day
0,ID_WPP3,1,NaN,ID_40G01FGV_Month_11,19:38:04.689865,20
1,ID_ZN92,1,NaN,ID_40G01FGV_Month_11,19:38:04.670583,20
2,ID_I9BN,1,NaN,ID_40G01FGV_Month_12,12:06:55.884320,17
3,ID_PDKH,1,count 10,ID_40G01FGV_Month_12,11:24:04.239058,6
4,ID_CFN7,1,NaN,ID_P33ABQX5_Month_5,05:16:09.052129,26
...,...,...,...,...,...,...
8380,ID_F7QD,1,NaN,ID_QR2HEY6L_Month_1,22:10:28.532519,15
8381,ID_F7QD,1,NaN,ID_K1MDGNKE_Month_3,20:54:47.902303,1
8382,ID_F7QD,1,NaN,ID_M8FQBYIH_Month_12,18:57:10.479540,27
8383,ID_F7QD,1,NaN,ID_9IP2OICN_Month_12,21:03:14.798218,13
8384,ID_F7QD,1,NaN,ID_JUE09Z86_Month_5,11:02:22.739630,5

# MERGE 1

In [70]:
result1 = pd.merge(df_compP, df_comp, how="outer", on= 'Comp_ID')

In [71]:
result1 = result1[result1['User_ID'].notna()]

In [72]:
result1.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 8385 entries, 0 to 8384
Data columns (total 25 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   Comp_ID                      8385 non-null   object
 1   Participant Type             8385 non-null   float64
 2   Successful Submission Count  1449 non-null   object
 3   User_ID                      8385 non-null   string
 4   Created At time              8385 non-null   object
 5   Comp_participation_day       8385 non-null   float64
 6   FeatureA                     8385 non-null   object
 7   FeatureB                     8385 non-null   object
 8   FeatureC                     5655 non-null   float64
 9   FeatureD                     8385 non-null   int64
 10  FeatureE                     8385 non-null   int64
 11  SecretCode                   8385 non-null   int64
 12  FeatureF                     8385 non-null   object
 13  FeatureG                     8385 non-null   object
 14  FeatureH                     8385 non-null   object
 15  FeatureI                     7206 non-null   float64
 16  Country_ID                   4073 non-null   object
 17  End Time time                6340 non-null   object
 18  End Time Year                6340 non-null   float64
 19  End Time Month               6340 non-null   float64
 20  End Time Day_of_month        6340 non-null   float64
 21  Start Time time              8385 non-null   object
 22  Start Time Year              8385 non-null   int64
 23  Start Time Month             8385 non-null   int64
 24  Start Time Day_of_month      8385 non-null   int64
dtypes: float64(7), int64(6), object(11), string(1)
memory usage: 1.7+ MB

In [73]:
result1

,Comp_ID,Participant Type,Successful Submission Count,User_ID,Created At time,Comp_participation_day,FeatureA,FeatureB,FeatureC,FeatureD,...,FeatureI,Country_ID,End Time time,End Time Year,End Time Month,End Time Day_of_month,Start Time time,Start Time Year,Start Time Month,Start Time Day_of_month
0,ID_WPP3,1.0,NaN,ID_40G01FGV_Month_11,19:38:04.689865,20.0,[1],"[12, 16]",NaN,1,...,NaN,NaN,00:00:00,3.0,9.0,24.0,00:00:00,4,6,25
1,ID_WPP3,1.0,NaN,ID_D5I1M68U_Month_4,21:15:54.617702,7.0,[1],"[12, 16]",NaN,1,...,NaN,NaN,00:00:00,3.0,9.0,24.0,00:00:00,4,6,25
2,ID_WPP3,1.0,NaN,ID_G23UREIF_Month_11,16:43:35.871761,30.0,[1],"[12, 16]",NaN,1,...,NaN,NaN,00:00:00,3.0,9.0,24.0,00:00:00,4,6,25
3,ID_WPP3,1.0,NaN,ID_H4DF1YA9_Month_11,17:55:40.888019,23.0,[1],"[12, 16]",NaN,1,...,NaN,NaN,00:00:00,3.0,9.0,24.0,00:00:00,4,6,25
4,ID_WPP3,1.0,NaN,ID_F840O4ZH_Month_5,09:42:13.812496,16.0,[1],"[12, 16]",NaN,1,...,NaN,NaN,00:00:00,3.0,9.0,24.0,00:00:00,4,6,25
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8380,ID_CNBR,1.0,NaN,ID_6RPFZR7I_Month_11,06:38:13.766016,17.0,"[2, 7]",[],9.0,1,...,9.0,NaN,00:00:00,3.0,11.0,20.0,00:00:00,3,8,16
8381,ID_208Z,1.0,NaN,ID_YEZY3ABB_Month_1,14:26:36.511271,6.0,"[1, 5, 4]","[5, 7]",NaN,1,...,NaN,N6EN,23:59:00,3.0,12.0,17.0,00:00:00,4,7,2
8382,ID_H3QQ,1.0,NaN,ID_GS03UEEX_Month_4,10:40:22.978880,22.0,[2],[],17.0,1,...,17.0,4PRY,00:00:00,3.0,9.0,17.0,00:00:00,4,5,18
8383,ID_7079,1.0,NaN,ID_1CY5JAGU_Month_4,04:23:17.682554,11.0,"[7, 3, 2]",[15],10.0,1,...,10.0,G3F0,23:59:00,3.0,6.0,29.0,06:00:00,3,4,11
8384,ID_DFKK,1.0,NaN,ID_2YXKSD1Q_Month_4,15:34:15.045823,7.0,[5],[15],10.0,1,...,10.0,NaN,23:59:00,2.0,2.0,4.0,06:00:00,2,10,26

# USERS

In [74]:
df_user = pd.read_csv('Users.csv').drop_duplicates()

In [75]:
df_user.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 12413 entries, 0 to 12412
Data columns (total 8 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   FeatureX                 12413 non-null  int64
 1   FeatureY                 12413 non-null  int64
 2   User_ID                  12413 non-null  object
 3   Countries_ID             6531 non-null   object
 4   Created At time          12413 non-null  object
 5   Created At Year          12413 non-null  int64
 6   Created At Month         12413 non-null  int64
 7   Created At Day_of_month  12413 non-null  int64
dtypes: int64(5), object(3)
memory usage: 872.8+ KB

In [76]:
df_user

,FeatureX,FeatureY,User_ID,Countries_ID,Created At time,Created At Year,Created At Month,Created At Day_of_month
0,0,0,ID_DC6S4E9O,X9GR,19:33:13.663391,1,1,16
1,1,0,ID_E8S97OUT,X9GR,22:18:18.228921,1,12,27
2,0,0,ID_QZ1HASL3,X9GR,23:13:03.266635,1,1,1
3,1,0,ID_SDV9Q3E9,X9GR,09:50:09.697573,1,12,27
4,1,0,ID_W942LN7F,X9GR,13:33:06.531662,1,1,16
...,...,...,...,...,...,...,...,...
12408,0,1,ID_C5393PD0,7DKX,05:02:39.352427,1,11,6
12409,0,1,ID_QX7XRT0C,K4DG,02:50:19.027320,1,3,25
12410,0,1,ID_RGN2RK66,ONON,22:06:33.713692,1,12,7
12411,0,0,ID_XZS1QE0W,3YQR,06:56:02.570173,1,5,27
12412,0,1,ID_8K4FGJYO,G4PG,10:22:54.369939,1,12,5

In [77]:
len(pd.unique(df_user['User_ID']))

12413

In [78]:
len(pd.unique(df_user['Created At Year']))

1

In [79]:
df_user.drop('Created At Year', inplace=True, axis=1)

In [80]:
df_user["User_ID"] = df_user["User_ID"].astype("string")
df_user["Created At Month"] = df_user["Created At Month"].astype("string")

In [81]:
new = df_user["Created At Month"].copy()
df_user["User_ID"] = df_user["User_ID"].str.cat(new, sep ="_Month_")

In [82]:
len(pd.unique(df_user['User_ID']))

12413

In [83]:
df_user.rename(columns={'Created At Month': 'User sign-in month'},  inplace = True)

In [84]:
df_user.rename(columns={'Created At time': 'User sign-in time'},  inplace = True)

In [85]:
df_user.rename(columns={'Created At Day_of_month': 'User sign-in day'},  inplace = True)

In [86]:
df_user

,FeatureX,FeatureY,User_ID,Countries_ID,User sign-in time,User sign-in month,User sign-in day
0,0,0,ID_DC6S4E9O_Month_1,X9GR,19:33:13.663391,1,16
1,1,0,ID_E8S97OUT_Month_12,X9GR,22:18:18.228921,12,27
2,0,0,ID_QZ1HASL3_Month_1,X9GR,23:13:03.266635,1,1
3,1,0,ID_SDV9Q3E9_Month_12,X9GR,09:50:09.697573,12,27
4,1,0,ID_W942LN7F_Month_1,X9GR,13:33:06.531662,1,16
...,...,...,...,...,...,...,...
12408,0,1,ID_C5393PD0_Month_11,7DKX,05:02:39.352427,11,6
12409,0,1,ID_QX7XRT0C_Month_3,K4DG,02:50:19.027320,3,25
12410,0,1,ID_RGN2RK66_Month_12,ONON,22:06:33.713692,12,7
12411,0,0,ID_XZS1QE0W_Month_5,3YQR,06:56:02.570173,5,27
12412,0,1,ID_8K4FGJYO_Month_12,G4PG,10:22:54.369939,12,5

# MERGE 2

In [87]:
result2 = pd.merge(df_userAct, df_user, how="outer", on= 'User_ID')

In [88]:
result2

,User_ID,datetime Day_of_month,Downloaded_Competition_Datafile,Viewed_All_Discussions,Confirmed_Email,Joined_Competition,Signed_Up,Viewed_All_Competitions,Viewed_All_Learning_Pages,badge_OCZE,...,Updated_Submission,badge_HYIO,count_UA,Day duration,FeatureX,FeatureY,Countries_ID,User sign-in time,User sign-in month,User sign-in day
0,ID_000H9XOP_Month_5,26.0,0.0,1.0,0.0,0.0,1.0,1.0,0.0,0.0,...,0.0,0.0,6.0,4.0,0.0,1.0,NaN,15:18:11.439200,5,22.0
1,ID_003YJHQA_Month_4,12.0,0.0,2.0,1.0,0.0,1.0,1.0,1.0,1.0,...,0.0,0.0,11.0,0.0,0.0,1.0,GYYX,10:30:32.261855,4,12.0
2,ID_004UKSJV_Month_1,15.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,...,0.0,0.0,1.0,0.0,NaN,NaN,NaN,NaN,<NA>,NaN
3,ID_004UKSJV_Month_12,29.0,0.0,1.0,1.0,0.0,1.0,1.0,1.0,0.0,...,0.0,0.0,11.0,1.0,0.0,0.0,IFO5,08:32:14.997443,12,28.0
4,ID_008D2J6C_Month_1,15.0,0.0,1.0,1.0,0.0,1.0,1.0,1.0,1.0,...,0.0,0.0,10.0,8.0,0.0,0.0,GYYX,09:42:39.695313,1,7.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17182,ID_Y02FKZWI_Month_3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,0.0,0.0,7JT1,04:04:35.100180,3,26.0
17183,ID_FDOGWALS_Month_11,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,0.0,0.0,UKC2,13:30:49.814791,11,5.0
17184,ID_YJCY8FF5_Month_5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,0.0,0.0,H801,15:54:12.676400,5,11.0
17185,ID_QDL8A9FQ_Month_4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,0.0,0.0,NRDP,09:49:35.535847,4,28.0
17186,ID_C5393PD0_Month_11,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,0.0,1.0,7DKX,05:02:39.352427,11,6.0

# MERGE 3

In [89]:
result3 = pd.merge(result1, result2, how="outer", on= 'User_ID')

In [91]:
result3.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 19842 entries, 0 to 19841
Data columns (total 56 columns):
 #   Column                           Non-Null Count  Dtype
---  ------                           --------------  -----
 0   Comp_ID                          8385 non-null   object
 1   Participant Type                 8385 non-null   float64
 2   Successful Submission Count      1449 non-null   object
 3   User_ID                          19842 non-null  object
 4   Created At time                  8385 non-null   object
 5   Comp_participation_day           8385 non-null   float64
 6   FeatureA                         8385 non-null   object
 7   FeatureB                         8385 non-null   object
 8   FeatureC                         5655 non-null   float64
 9   FeatureD                         8385 non-null   float64
 10  FeatureE                         8385 non-null   float64
 11  SecretCode                       8385 non-null   float64
 12  FeatureF                         8385 non-null   object
 13  FeatureG                         8385 non-null   object
 14  FeatureH                         8385 non-null   object
 15  FeatureI                         7206 non-null   float64
 16  Country_ID                       4073 non-null   object
 17  End Time time                    6340 non-null   object
 18  End Time Year                    6340 non-null   float64
 19  End Time Month                   6340 non-null   float64
 20  End Time Day_of_month            6340 non-null   float64
 21  Start Time time                  8385 non-null   object
 22  Start Time Year                  8385 non-null   float64
 23  Start Time Month                 8385 non-null   float64
 24  Start Time Day_of_month          8385 non-null   float64
 25  datetime Day_of_month            17132 non-null  float64
 26  Downloaded_Competition_Datafile  17132 non-null  float64
 27  Viewed_All_Discussions           17132 non-null  float64
 28  Confirmed_Email                  17132 non-null  float64
 29  Joined_Competition               17132 non-null  float64
 30  Signed_Up                        17132 non-null  float64
 31  Viewed_All_Competitions          17132 non-null  float64
 32  Viewed_All_Learning_Pages        17132 non-null  float64
 33  badge_OCZE                       17132 non-null  float64
 34  create_alias                     17132 non-null  float64
 35  identify                         17132 non-null  float64
 36  comp_ID                          17132 non-null  float64
 37  Signed_In                        17132 non-null  float64
 38  job_ID                           17132 non-null  float64
 39  Updated_Discussion               17132 non-null  float64
 40  Viewed_All_Jobs                  17132 non-null  float64
 41  Created_Submission               17132 non-null  float64
 42  Signed_Out                       17132 non-null  float64
 43  Updated_Profile                  17132 non-null  float64
 44  blog_ID                          17132 non-null  float64
 45  Viewed_Discussion                17132 non-null  float64
 46  Updated_Submission               17132 non-null  float64
 47  badge_HYIO                       17132 non-null  float64
 48  count_UA                         17132 non-null  float64
 49  Day duration                     17132 non-null  float64
 50  FeatureX                         14220 non-null  float64
 51  FeatureY                         14220 non-null  float64
 52  Countries_ID                     7459 non-null   object
 53  User sign-in time                14220 non-null  object
 54  User sign-in month               14220 non-null  string
 55  User sign-in day                 14220 non-null  float64
dtypes: float64(41), object(14), string(1)
memory usage: 8.6+ MB

In [92]:
result3

,Comp_ID,Participant Type,Successful Submission Count,User_ID,Created At time,Comp_participation_day,FeatureA,FeatureB,FeatureC,FeatureD,...,Updated_Submission,badge_HYIO,count_UA,Day duration,FeatureX,FeatureY,Countries_ID,User sign-in time,User sign-in month,User sign-in day
0,ID_WPP3,1.0,NaN,ID_40G01FGV_Month_11,19:38:04.689865,20.0,[1],"[12, 16]",NaN,1.0,...,0.0,0.0,21.0,3.0,0.0,0.0,EOMO,19:37:04.756448,11,20.0
1,ID_ZN92,1.0,NaN,ID_40G01FGV_Month_11,19:38:04.670583,20.0,[1],"[12, 16]",NaN,1.0,...,0.0,0.0,21.0,3.0,0.0,0.0,EOMO,19:37:04.756448,11,20.0
2,ID_WPP3,1.0,NaN,ID_D5I1M68U_Month_4,21:15:54.617702,7.0,[1],"[12, 16]",NaN,1.0,...,0.0,0.0,22.0,0.0,0.0,3.0,NaN,21:11:55.295294,4,7.0
3,ID_ZN92,1.0,NaN,ID_D5I1M68U_Month_4,21:15:54.596519,7.0,[1],"[12, 16]",NaN,1.0,...,0.0,0.0,22.0,0.0,0.0,3.0,NaN,21:11:55.295294,4,7.0
4,ID_6IDY,1.0,NaN,ID_D5I1M68U_Month_4,21:43:19.694875,7.0,"[3, 2]",[],6.0,1.0,...,0.0,0.0,22.0,0.0,0.0,3.0,NaN,21:11:55.295294,4,7.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19837,NaN,NaN,NaN,ID_Y02FKZWI_Month_3,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,0.0,0.0,7JT1,04:04:35.100180,3,26.0
19838,NaN,NaN,NaN,ID_FDOGWALS_Month_11,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,0.0,0.0,UKC2,13:30:49.814791,11,5.0
19839,NaN,NaN,NaN,ID_YJCY8FF5_Month_5,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,0.0,0.0,H801,15:54:12.676400,5,11.0
19840,NaN,NaN,NaN,ID_QDL8A9FQ_Month_4,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,0.0,0.0,NRDP,09:49:35.535847,4,28.0
19841,NaN,NaN,NaN,ID_C5393PD0_Month_11,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,0.0,1.0,7DKX,05:02:39.352427,11,6.0

In [94]:
result3.rename(columns={'End Time time': 'competition_ended_time'},  inplace = True)

In [95]:
result3.rename(columns={'End Time Year': 'competition_ended_year'},  inplace = True)

In [96]:
result3.rename(columns={'End Time Month': 'competition_ended_month'},  inplace = True)

In [97]:
result3.rename(columns={'End Time Day_of_month': 'competition_ended_day'},  inplace = True)

In [98]:
result3.rename(columns={'Start Time time': 'competition_started_time'},  inplace = True)

In [99]:
result3.rename(columns={'Start Time Year': 'competition_started_year'},  inplace = True)

In [100]:
result3.rename(columns={'Start Time Month': 'competition_started_month'},  inplace = True)

In [101]:
result3.rename(columns={'Start Time Day_of_month': 'competition_started_day'},  inplace = True)

In [102]:
result3.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 19842 entries, 0 to 19841
Data columns (total 56 columns):
 #   Column                           Non-Null Count  Dtype
---  ------                           --------------  -----
 0   Comp_ID                          8385 non-null   object
 1   Participant Type                 8385 non-null   float64
 2   Successful Submission Count      1449 non-null   object
 3   User_ID                          19842 non-null  object
 4   Created At time                  8385 non-null   object
 5   Comp_participation_day           8385 non-null   float64
 6   FeatureA                         8385 non-null   object
 7   FeatureB                         8385 non-null   object
 8   FeatureC                         5655 non-null   float64
 9   FeatureD                         8385 non-null   float64
 10  FeatureE                         8385 non-null   float64
 11  SecretCode                       8385 non-null   float64
 12  FeatureF                         8385 non-null   object
 13  FeatureG                         8385 non-null   object
 14  FeatureH                         8385 non-null   object
 15  FeatureI                         7206 non-null   float64
 16  Country_ID                       4073 non-null   object
 17  competition_ended_time           6340 non-null   object
 18  competition_ended_year           6340 non-null   float64
 19  competition_ended_month          6340 non-null   float64
 20  competition_ended_day            6340 non-null   float64
 21  competition_started_time         8385 non-null   object
 22  competition_started_year         8385 non-null   float64
 23  competition_started_month        8385 non-null   float64
 24  competition_started_day          8385 non-null   float64
 25  datetime Day_of_month            17132 non-null  float64
 26  Downloaded_Competition_Datafile  17132 non-null  float64
 27  Viewed_All_Discussions           17132 non-null  float64
 28  Confirmed_Email                  17132 non-null  float64
 29  Joined_Competition               17132 non-null  float64
 30  Signed_Up                        17132 non-null  float64
 31  Viewed_All_Competitions          17132 non-null  float64
 32  Viewed_All_Learning_Pages        17132 non-null  float64
 33  badge_OCZE                       17132 non-null  float64
 34  create_alias                     17132 non-null  float64
 35  identify                         17132 non-null  float64
 36  comp_ID                          17132 non-null  float64
 37  Signed_In                        17132 non-null  float64
 38  job_ID                           17132 non-null  float64
 39  Updated_Discussion               17132 non-null  float64
 40  Viewed_All_Jobs                  17132 non-null  float64
 41  Created_Submission               17132 non-null  float64
 42  Signed_Out                       17132 non-null  float64
 43  Updated_Profile                  17132 non-null  float64
 44  blog_ID                          17132 non-null  float64
 45  Viewed_Discussion                17132 non-null  float64
 46  Updated_Submission               17132 non-null  float64
 47  badge_HYIO                       17132 non-null  float64
 48  count_UA                         17132 non-null  float64
 49  Day duration                     17132 non-null  float64
 50  FeatureX                         14220 non-null  float64
 51  FeatureY                         14220 non-null  float64
 52  Countries_ID                     7459 non-null   object
 53  User sign-in time                14220 non-null  object
 54  User sign-in month               14220 non-null  string
 55  User sign-in day                 14220 non-null  float64
dtypes: float64(41), object(14), string(1)
memory usage: 8.6+ MB

In [104]:
result3

,Comp_ID,Participant Type,Successful Submission Count,User_ID,Created At time,Comp_participation_day,FeatureA,FeatureB,FeatureC,FeatureD,...,Updated_Submission,badge_HYIO,count_UA,Day duration,FeatureX,FeatureY,Countries_ID,User sign-in time,User sign-in month,User sign-in day
0,ID_WPP3,1.0,NaN,ID_40G01FGV_Month_11,19:38:04.689865,20.0,[1],"[12, 16]",NaN,1.0,...,0.0,0.0,21.0,3.0,0.0,0.0,EOMO,19:37:04.756448,11,20.0
1,ID_ZN92,1.0,NaN,ID_40G01FGV_Month_11,19:38:04.670583,20.0,[1],"[12, 16]",NaN,1.0,...,0.0,0.0,21.0,3.0,0.0,0.0,EOMO,19:37:04.756448,11,20.0
2,ID_WPP3,1.0,NaN,ID_D5I1M68U_Month_4,21:15:54.617702,7.0,[1],"[12, 16]",NaN,1.0,...,0.0,0.0,22.0,0.0,0.0,3.0,NaN,21:11:55.295294,4,7.0
3,ID_ZN92,1.0,NaN,ID_D5I1M68U_Month_4,21:15:54.596519,7.0,[1],"[12, 16]",NaN,1.0,...,0.0,0.0,22.0,0.0,0.0,3.0,NaN,21:11:55.295294,4,7.0
4,ID_6IDY,1.0,NaN,ID_D5I1M68U_Month_4,21:43:19.694875,7.0,"[3, 2]",[],6.0,1.0,...,0.0,0.0,22.0,0.0,0.0,3.0,NaN,21:11:55.295294,4,7.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19837,NaN,NaN,NaN,ID_Y02FKZWI_Month_3,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,0.0,0.0,7JT1,04:04:35.100180,3,26.0
19838,NaN,NaN,NaN,ID_FDOGWALS_Month_11,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,0.0,0.0,UKC2,13:30:49.814791,11,5.0
19839,NaN,NaN,NaN,ID_YJCY8FF5_Month_5,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,0.0,0.0,H801,15:54:12.676400,5,11.0
19840,NaN,NaN,NaN,ID_QDL8A9FQ_Month_4,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,0.0,0.0,NRDP,09:49:35.535847,4,28.0
19841,NaN,NaN,NaN,ID_C5393PD0_Month_11,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,0.0,1.0,7DKX,05:02:39.352427,11,6.0

In [108]:
df_final = result3.copy()

In [109]:
df_final.drop('Comp_ID', inplace=True, axis=1)

In [110]:
df_final["Country_ID"].unique()

array([nan, 'ZEWU', 'DYYF', 'H03V', 'KYT4', 'G3F0', 'SE4K', 'X9GR',
       '03GB', 'GYYX', 'YSLJ', 'N6EN', 'ISIQ', 'EGI9', '4PRY'],
      dtype=object)

In [111]:
first_column = df_final.pop('User_ID')

In [112]:
df_final.insert(0, 'User_ID', first_column)

In [113]:
df_final.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 19842 entries, 0 to 19841
Data columns (total 55 columns):
 #   Column                           Non-Null Count  Dtype
---  ------                           --------------  -----
 0   User_ID                          19842 non-null  object
 1   Participant Type                 8385 non-null   float64
 2   Successful Submission Count      1449 non-null   object
 3   Created At time                  8385 non-null   object
 4   Comp_participation_day           8385 non-null   float64
 5   FeatureA                         8385 non-null   object
 6   FeatureB                         8385 non-null   object
 7   FeatureC                         5655 non-null   float64
 8   FeatureD                         8385 non-null   float64
 9   FeatureE                         8385 non-null   float64
 10  SecretCode                       8385 non-null   float64
 11  FeatureF                         8385 non-null   object
 12  FeatureG                         8385 non-null   object
 13  FeatureH                         8385 non-null   object
 14  FeatureI                         7206 non-null   float64
 15  Country_ID                       4073 non-null   object
 16  competition_ended_time           6340 non-null   object
 17  competition_ended_year           6340 non-null   float64
 18  competition_ended_month          6340 non-null   float64
 19  competition_ended_day            6340 non-null   float64
 20  competition_started_time         8385 non-null   object
 21  competition_started_year         8385 non-null   float64
 22  competition_started_month        8385 non-null   float64
 23  competition_started_day          8385 non-null   float64
 24  datetime Day_of_month            17132 non-null  float64
 25  Downloaded_Competition_Datafile  17132 non-null  float64
 26  Viewed_All_Discussions           17132 non-null  float64
 27  Confirmed_Email                  17132 non-null  float64
 28  Joined_Competition               17132 non-null  float64
 29  Signed_Up                        17132 non-null  float64
 30  Viewed_All_Competitions          17132 non-null  float64
 31  Viewed_All_Learning_Pages        17132 non-null  float64
 32  badge_OCZE                       17132 non-null  float64
 33  create_alias                     17132 non-null  float64
 34  identify                         17132 non-null  float64
 35  comp_ID                          17132 non-null  float64
 36  Signed_In                        17132 non-null  float64
 37  job_ID                           17132 non-null  float64
 38  Updated_Discussion               17132 non-null  float64
 39  Viewed_All_Jobs                  17132 non-null  float64
 40  Created_Submission               17132 non-null  float64
 41  Signed_Out                       17132 non-null  float64
 42  Updated_Profile                  17132 non-null  float64
 43  blog_ID                          17132 non-null  float64
 44  Viewed_Discussion                17132 non-null  float64
 45  Updated_Submission               17132 non-null  float64
 46  badge_HYIO                       17132 non-null  float64
 47  count_UA                         17132 non-null  float64
 48  Day duration                     17132 non-null  float64
 49  FeatureX                         14220 non-null  float64
 50  FeatureY                         14220 non-null  float64
 51  Countries_ID                     7459 non-null   object
 52  User sign-in time                14220 non-null  object
 53  User sign-in month               14220 non-null  string
 54  User sign-in day                 14220 non-null  float64
dtypes: float64(41), object(13), string(1)
memory usage: 8.5+ MB

In [114]:
df_final

,User_ID,Participant Type,Successful Submission Count,Created At time,Comp_participation_day,FeatureA,FeatureB,FeatureC,FeatureD,FeatureE,...,Updated_Submission,badge_HYIO,count_UA,Day duration,FeatureX,FeatureY,Countries_ID,User sign-in time,User sign-in month,User sign-in day
0,ID_40G01FGV_Month_11,1.0,NaN,19:38:04.689865,20.0,[1],"[12, 16]",NaN,1.0,2.0,...,0.0,0.0,21.0,3.0,0.0,0.0,EOMO,19:37:04.756448,11,20.0
1,ID_40G01FGV_Month_11,1.0,NaN,19:38:04.670583,20.0,[1],"[12, 16]",NaN,1.0,1.0,...,0.0,0.0,21.0,3.0,0.0,0.0,EOMO,19:37:04.756448,11,20.0
2,ID_D5I1M68U_Month_4,1.0,NaN,21:15:54.617702,7.0,[1],"[12, 16]",NaN,1.0,2.0,...,0.0,0.0,22.0,0.0,0.0,3.0,NaN,21:11:55.295294,4,7.0
3,ID_D5I1M68U_Month_4,1.0,NaN,21:15:54.596519,7.0,[1],"[12, 16]",NaN,1.0,1.0,...,0.0,0.0,22.0,0.0,0.0,3.0,NaN,21:11:55.295294,4,7.0
4,ID_D5I1M68U_Month_4,1.0,NaN,21:43:19.694875,7.0,"[3, 2]",[],6.0,1.0,3.0,...,0.0,0.0,22.0,0.0,0.0,3.0,NaN,21:11:55.295294,4,7.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19837,ID_Y02FKZWI_Month_3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,0.0,0.0,7JT1,04:04:35.100180,3,26.0
19838,ID_FDOGWALS_Month_11,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,0.0,0.0,UKC2,13:30:49.814791,11,5.0
19839,ID_YJCY8FF5_Month_5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,0.0,0.0,H801,15:54:12.676400,5,11.0
19840,ID_QDL8A9FQ_Month_4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,0.0,0.0,NRDP,09:49:35.535847,4,28.0
19841,ID_C5393PD0_Month_11,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,0.0,1.0,7DKX,05:02:39.352427,11,6.0

# DATA CLEANING AND TRANSFORMATION

In [115]:
df_final.shape

(19842, 55)

In [117]:
df_final['Participant Type'].isna().sum()

11457

In [118]:
df_final["Participant Type"].unique()

array([ 1., nan])

In [119]:
df_final['Participant Type'].fillna(0, inplace = True)

In [120]:
df_final["Successful Submission Count"].unique()

array([nan, 'count 10', 'count 6', 'count 8', 'count 9', 'count 7',
       'count 4', 'count 3', 'count 5'], dtype=object)

In [121]:
df_final['Successful Submission Count'].isna().sum()

18393

In [122]:
df_final['Successful Submission Count'] = df_final['Successful Submission Count'].str[6:]

In [123]:
df_final['Successful Submission Count'].unique()

array([nan, '10', '6', '8', '9', '7', '4', '3', '5'], dtype=object)

In [124]:
df_final['Successful Submission Count'].fillna(0, inplace = True)

In [125]:
df_final['Comp_participation_day'].unique()

array([20.,  7., 30., 23., 16., 15., 19., 26., 17., 21.,  9.,  4.,  2.,
       28., 25., 22.,  6., 24., 13., 18.,  3., 29., 12., 27.,  5.,  8.,
        1., 10., 14., 31., 11., nan])

In [126]:
df_final['Comp_participation_day'].fillna(0, inplace = True)

In [127]:
df_final['FeatureA'].isna().sum()

11457

In [128]:
df_final['FeatureA'].unique()

array(['[1]', '[3, 2]', '[1, 6]', '[2, 3]', '[2]', '[4]', '[5]', '[]',
       '[7]', '[2, 4]', '[4, 2]', '[1, 7]', '[5, 4]', '[5, 2]',
       '[4, 7, 2]', '[3, 7]', '[1, 4, 5]', '[3]', '[2, 4, 5]', '[8]',
       '[1, 9]', '[2, 7]', '[1, 5, 4]', '[7, 3, 2]', nan], dtype=object)

In [129]:
df_final['FeatureA'].fillna('[-1]', inplace = True)

In [130]:
df_final['FeatureA'] = df_final.FeatureA.map(ast.literal_eval)

In [131]:
df_final['FeatureA'].isna().sum()

0

In [132]:
df_final['FeatureB'].unique()

array(['[12, 16]', '[]', '[5, 6]', '[9]', '[1]', '[14]', '[7]', '[15]',
       '[5]', '[7, 5]', '[2]', '[6]', '[5, 7]', '[16]', '[14, 7]', '[10]',
       '[12]', '[14, 8]', nan], dtype=object)

In [133]:
df_final['FeatureB'].fillna('[-1]', inplace = True)

In [134]:
df_final['FeatureB'] = df_final.FeatureB.map(ast.literal_eval)

In [135]:
df_final['FeatureB'].isna().sum()

0

In [136]:
df_final['FeatureB'].isna().sum()

0

In [137]:
df_final['FeatureC'].unique()

array([nan,  6.,  9.,  8.,  3., 26., 25.,  2., 37., 29., 12.,  4., 10.,
       13.,  5., 35.,  7., 11., 28., 15., 24., 14.,  1., 27., 20., 31.,
       16., 18., 17.])

In [138]:
df_final['FeatureC'].fillna(-1, inplace = True)

In [139]:
df_final['FeatureD'].unique()

array([ 1.,  0., nan])

In [140]:
df_final['FeatureD'].fillna(-1, inplace = True)

In [141]:
df_final['FeatureE'].unique()

array([ 2.,  1.,  3., nan])

In [142]:
df_final['FeatureE'].fillna(-1, inplace = True)

In [143]:
df_final['FeatureF'].unique()

array(['[1, 5]', '[2]', '[7]', '[1]', '[1, 12]', '[2, 3]', '[]', '[3, 2]',
       '[2, 8]', '[10]', '[3]', '[2, 11]', '[2, 13]', '[6]', '[9]',
       '[3, 1]', '[15]', '[1, 3]', '[2, 1]', '[8]', '[1, 11]', nan],
      dtype=object)

In [144]:
df_final['FeatureF'].fillna('[-1]', inplace = True)

In [145]:
df_final['FeatureF'] = df_final.FeatureF.map(ast.literal_eval)

In [146]:
df_final['FeatureF'].isna().sum()

0

In [147]:
df_final['FeatureF'].isna().sum()

0

In [148]:
df_final['FeatureG'].unique()

array(['[5]', '[]', '[4]', '[3]', '[5, 3, 4]', nan], dtype=object)

In [149]:
df_final['FeatureG'].fillna('[-1]', inplace = True)

In [150]:
df_final['FeatureG'] = df_final.FeatureG.map(ast.literal_eval)

In [151]:
df_final['FeatureG'].isna().sum()

0

In [152]:
df_final['FeatureG'].isna().sum()

0

In [153]:
df_final['FeatureH'].unique()

array(['[1]', '[2]', '[7]', '[]', '[2, 3]', '[3, 2]', '[3]', '[2, 8]',
       '[10]', '[6]', '[9]', '[3, 1]', '[8, 10]', '[1, 3]', '[2, 1]',
       '[8]', nan], dtype=object)

In [154]:
df_final['FeatureH'].fillna('[-1]', inplace = True)

In [155]:
df_final['FeatureH'] = df_final.FeatureH.map(ast.literal_eval)

In [156]:
df_final['FeatureH'].isna().sum()

0

In [157]:
df_final['FeatureH'].isna().sum()

0

In [158]:
df_final['FeatureI'].unique()

array([nan,  6.,  9.,  8.,  3., 26., 25.,  2., 37., 29., 12.,  4., 10.,
       13.,  5., 35.,  7., 31., 11., 28., 15., 24., 14., 33.,  1., 27.,
       20., 16., 18., 17.])

In [159]:
df_final['FeatureI'].fillna(-1, inplace = True)

In [160]:
df_final['FeatureX'].unique()

array([ 0.,  1., nan])

In [161]:
df_final['FeatureX'].fillna(-1, inplace = True)

In [162]:
df_final['FeatureY'].unique()

array([ 0.,  3.,  1., nan])

In [163]:
df_final['FeatureY'].fillna(-1, inplace = True)

In [164]:
for i in range(len(df_final)):
    arr = df_final.loc[i, "FeatureA"]
    mean = np.mean(arr)
    df_final.loc[i, "FeatureA"] = mean
    arr = df_final.loc[i, "FeatureB"]
    mean = np.mean(arr)
    df_final.loc[i, "FeatureB"] = mean
    arr = df_final.loc[i, "FeatureF"]
    mean = np.mean(arr)
    df_final.loc[i, "FeatureF"] = mean
    arr = df_final.loc[i, "FeatureG"]
    mean = np.mean(arr)
    df_final.loc[i, "FeatureG"] = mean
    arr = df_final.loc[i, "FeatureH"]
    mean = np.mean(arr)
    df_final.loc[i, "FeatureH"] = mean

In [165]:
df_final['FeatureA'].fillna(0, inplace = True)

In [166]:
df_final['FeatureB'].fillna(0, inplace = True)

In [167]:
df_final['FeatureF'].fillna(0, inplace = True)

In [168]:
df_final['FeatureG'].fillna(0, inplace = True)

In [169]:
df_final['FeatureH'].fillna(0, inplace = True)

In [170]:
df_final['SecretCode'].isna().sum()

11457

In [171]:
df_final['SecretCode'].unique()

array([ 0.,  1., nan])

In [172]:
df_final['SecretCode'].fillna(-1, inplace = True)

In [173]:
df_final['competition_ended_time'].unique()

array(['00:00:00', '23:59:00', nan, '14:00:00', '22:59:00', '15:00:00',
       '11:59:00', '06:00:00', '11:00:00', '05:59:00', '12:00:00',
       '09:30:00', '23:09:00', '16:00:00', '02:00:00', '07:00:00',
       '18:00:00', '23:30:00'], dtype=object)

In [174]:
df_final.drop('competition_ended_time', axis=1, inplace=True)

In [175]:
df_final['competition_ended_year'].unique()

array([3.000e+00, 1.000e+00,       nan, 2.000e+00, 4.000e+00, 2.023e+03,
       5.000e+00])

In [176]:
df_final['competition_ended_year'].fillna(0, inplace = True)

In [177]:
df_final['competition_ended_month'].unique()

array([ 9., 12., nan, 10.,  1.,  4.,  6.,  3., 11.,  2.,  7.,  5.,  8.])

In [178]:
df_final['competition_ended_month'].fillna(0, inplace = True)

In [179]:
df_final['competition_ended_day'].unique()

array([24.,  1., nan,  2., 27., 13., 28., 23., 10., 16., 26.,  4., 14.,
        3., 30.,  7., 21.,  8., 25., 18.,  5., 29., 31., 17., 12., 22.,
       19., 15.,  9.,  6., 20.])

In [180]:
df_final['competition_ended_day'].fillna(0, inplace = True)

In [181]:
df_final['competition_started_time'].unique()

array(['00:00:00', '06:00:00', '08:00:00', '04:00:00', '12:00:00',
       '20:00:00', '00:01:00', '09:00:00', '22:59:00', '05:00:00',
       '11:00:00', '23:59:00', '10:00:00', '07:00:00', '02:00:00',
       '23:00:00', '14:00:00', '09:10:00', '09:30:00', '15:00:00',
       '05:13:00', '13:30:00', '01:59:00', '10:30:00', '17:00:00',
       '13:00:00', '05:59:00', nan], dtype=object)

In [182]:
df_final.drop('competition_started_time', axis=1, inplace=True)

In [183]:
df_final['competition_started_year'].unique()

array([ 4.,  1.,  3.,  2.,  5., nan])

In [184]:
df_final['competition_started_year'].fillna(0, inplace = True)

In [185]:
df_final['competition_started_month'].unique()

array([ 6.,  9.,  2., 10.,  4.,  3., 12.,  5.,  1., 11.,  8.,  7., nan])

In [186]:
df_final['competition_started_month'].fillna(0, inplace = True)

In [187]:
df_final['competition_started_day'].unique()

array([25.,  4.,  9., 29., 20., 26.,  1., 27., 11., 18., 23., 15.,  3.,
       19., 14.,  5., 22., 24.,  6., 16., 13., 28., 30.,  7.,  2., 17.,
       21., 12., nan])

In [188]:
df_final['competition_started_day'].fillna(0, inplace = True)

In [189]:
df_final.rename(columns={'datetime Day_of_month': 'Day last active'},  inplace = True)

In [190]:
df_final.drop('User sign-in time', axis=1, inplace=True)

In [191]:
df_final['Day last active'].unique()

array([23.,  7., nan, 16., 26., 30.,  9.,  2., 29., 25., 31., 28., 13.,
       15., 19., 27., 20., 24., 10., 21., 17.,  1.,  6., 22., 18.,  8.,
       11., 12.,  3., 14.,  4.,  5.])

In [192]:
df_final['competition_started_day'].fillna(0, inplace = True)

In [193]:
df_final['count_UA'].isna().sum()

2710

In [194]:
len(df_final['count_UA'].unique())

268

In [195]:
df_final['count_UA'].fillna(0, inplace = True)

In [196]:
df_final['User sign-in day'].isna().sum()

5622

In [197]:
df_final['User sign-in day'].unique()

array([20.,  7., 30., 23., 15., 19., nan, 16., 26.,  9.,  4.,  2., 25.,
       22.,  6., 13., 18.,  3., 29., 11.,  8.,  1., 17., 12., 10., 14.,
       24.,  5., 27., 21., 31., 28.])

In [198]:
df_final['User sign-in day'].fillna(0, inplace = True)

In [199]:
df_final['Day duration'].isna().sum()

2710

In [200]:
len(df_final['Day duration'].unique())

32

In [201]:
df_final['Day duration'].fillna(-1, inplace = True)

In [202]:
df_final['Day duration'] += 1

In [203]:
df_final['Successful Submission Count'] = pd.to_numeric(df_final['Successful Submission Count'])
df_final['User sign-in month'] = pd.to_numeric(df_final['User sign-in month'])

In [204]:
df_final["User sign-in month"].fillna(0, inplace = True)

In [205]:
df_final["Day last active"].fillna(0, inplace = True)

In [206]:
df_final.drop("Countries_ID", inplace=True, axis=1)

In [207]:
df_final.drop("User sign-in month", inplace=True, axis=1)

In [208]:
df_final.rename(columns={'Title': 'Activity Type'},  inplace = True)

In [210]:
df_final.drop("competition_ended_year", inplace=True, axis=1)

In [211]:
df_final.drop("competition_started_year", inplace=True, axis=1)

In [212]:
df_final.drop("competition_ended_day", inplace=True, axis=1)

In [213]:
df_final.drop("competition_started_day", inplace=True, axis=1)

In [214]:
df_final.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 19842 entries, 0 to 19841
Data columns (total 46 columns):
 #   Column                           Non-Null Count  Dtype
---  ------                           --------------  -----
 0   User_ID                          19842 non-null  object
 1   Participant Type                 19842 non-null  float64
 2   Successful Submission Count      19842 non-null  int64
 3   Created At time                  8385 non-null   object
 4   Comp_participation_day           19842 non-null  float64
 5   FeatureA                         19842 non-null  float64
 6   FeatureB                         19842 non-null  float64
 7   FeatureC                         19842 non-null  float64
 8   FeatureD                         19842 non-null  float64
 9   FeatureE                         19842 non-null  float64
 10  SecretCode                       19842 non-null  float64
 11  FeatureF                         19842 non-null  float64
 12  FeatureG                         19842 non-null  float64
 13  FeatureH                         19842 non-null  float64
 14  FeatureI                         19842 non-null  float64
 15  Country_ID                       4073 non-null   object
 16  competition_ended_month          19842 non-null  float64
 17  competition_started_month        19842 non-null  float64
 18  Day last active                  19842 non-null  float64
 19  Downloaded_Competition_Datafile  17132 non-null  float64
 20  Viewed_All_Discussions           17132 non-null  float64
 21  Confirmed_Email                  17132 non-null  float64
 22  Joined_Competition               17132 non-null  float64
 23  Signed_Up                        17132 non-null  float64
 24  Viewed_All_Competitions          17132 non-null  float64
 25  Viewed_All_Learning_Pages        17132 non-null  float64
 26  badge_OCZE                       17132 non-null  float64
 27  create_alias                     17132 non-null  float64
 28  identify                         17132 non-null  float64
 29  comp_ID                          17132 non-null  float64
 30  Signed_In                        17132 non-null  float64
 31  job_ID                           17132 non-null  float64
 32  Updated_Discussion               17132 non-null  float64
 33  Viewed_All_Jobs                  17132 non-null  float64
 34  Created_Submission               17132 non-null  float64
 35  Signed_Out                       17132 non-null  float64
 36  Updated_Profile                  17132 non-null  float64
 37  blog_ID                          17132 non-null  float64
 38  Viewed_Discussion                17132 non-null  float64
 39  Updated_Submission               17132 non-null  float64
 40  badge_HYIO                       17132 non-null  float64
 41  count_UA                         19842 non-null  float64
 42  Day duration                     19842 non-null  float64
 43  FeatureX                         19842 non-null  float64
 44  FeatureY                         19842 non-null  float64
 45  User sign-in day                 19842 non-null  float64
dtypes: float64(42), int64(1), object(3)
memory usage: 7.6+ MB

### Label Encoder for Country_ID

In [215]:
df_final["Country_ID"].unique()

array([nan, 'ZEWU', 'DYYF', 'H03V', 'KYT4', 'G3F0', 'SE4K', 'X9GR',
       '03GB', 'GYYX', 'YSLJ', 'N6EN', 'ISIQ', 'EGI9', '4PRY'],
      dtype=object)

In [216]:
le = preprocessing.LabelEncoder()

In [217]:
le.fit(df_final["Country_ID"])

LabelEncoder()

In [218]:
df_final["Country_ID"] = le.transform(df_final["Country_ID"])

In [219]:
df_final["Country_ID"].unique()

array([14, 13,  2,  6,  8,  4, 10, 11,  0,  5, 12,  9,  7,  3,  1])

In [220]:
df_final.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 19842 entries, 0 to 19841
Data columns (total 46 columns):
 #   Column                           Non-Null Count  Dtype
---  ------                           --------------  -----
 0   User_ID                          19842 non-null  object
 1   Participant Type                 19842 non-null  float64
 2   Successful Submission Count      19842 non-null  int64
 3   Created At time                  8385 non-null   object
 4   Comp_participation_day           19842 non-null  float64
 5   FeatureA                         19842 non-null  float64
 6   FeatureB                         19842 non-null  float64
 7   FeatureC                         19842 non-null  float64
 8   FeatureD                         19842 non-null  float64
 9   FeatureE                         19842 non-null  float64
 10  SecretCode                       19842 non-null  float64
 11  FeatureF                         19842 non-null  float64
 12  FeatureG                         19842 non-null  float64
 13  FeatureH                         19842 non-null  float64
 14  FeatureI                         19842 non-null  float64
 15  Country_ID                       19842 non-null  int32
 16  competition_ended_month          19842 non-null  float64
 17  competition_started_month        19842 non-null  float64
 18  Day last active                  19842 non-null  float64
 19  Downloaded_Competition_Datafile  17132 non-null  float64
 20  Viewed_All_Discussions           17132 non-null  float64
 21  Confirmed_Email                  17132 non-null  float64
 22  Joined_Competition               17132 non-null  float64
 23  Signed_Up                        17132 non-null  float64
 24  Viewed_All_Competitions          17132 non-null  float64
 25  Viewed_All_Learning_Pages        17132 non-null  float64
 26  badge_OCZE                       17132 non-null  float64
 27  create_alias                     17132 non-null  float64
 28  identify                         17132 non-null  float64
 29  comp_ID                          17132 non-null  float64
 30  Signed_In                        17132 non-null  float64
 31  job_ID                           17132 non-null  float64
 32  Updated_Discussion               17132 non-null  float64
 33  Viewed_All_Jobs                  17132 non-null  float64
 34  Created_Submission               17132 non-null  float64
 35  Signed_Out                       17132 non-null  float64
 36  Updated_Profile                  17132 non-null  float64
 37  blog_ID                          17132 non-null  float64
 38  Viewed_Discussion                17132 non-null  float64
 39  Updated_Submission               17132 non-null  float64
 40  badge_HYIO                       17132 non-null  float64
 41  count_UA                         19842 non-null  float64
 42  Day duration                     19842 non-null  float64
 43  FeatureX                         19842 non-null  float64
 44  FeatureY                         19842 non-null  float64
 45  User sign-in day                 19842 non-null  float64
dtypes: float64(42), int32(1), int64(1), object(2)
memory usage: 7.5+ MB

In [221]:
len(df_final["User_ID"].unique())

17362

In [222]:
df_final

,User_ID,Participant Type,Successful Submission Count,Created At time,Comp_participation_day,FeatureA,FeatureB,FeatureC,FeatureD,FeatureE,...,Updated_Profile,blog_ID,Viewed_Discussion,Updated_Submission,badge_HYIO,count_UA,Day duration,FeatureX,FeatureY,User sign-in day
0,ID_40G01FGV_Month_11,1.0,0,19:38:04.689865,20.0,1.0,14.0,-1.0,1.0,2.0,...,0.0,0.0,0.0,0.0,0.0,21.0,4.0,0.0,0.0,20.0
1,ID_40G01FGV_Month_11,1.0,0,19:38:04.670583,20.0,1.0,14.0,-1.0,1.0,1.0,...,0.0,0.0,0.0,0.0,0.0,21.0,4.0,0.0,0.0,20.0
2,ID_D5I1M68U_Month_4,1.0,0,21:15:54.617702,7.0,1.0,14.0,-1.0,1.0,2.0,...,0.0,0.0,0.0,0.0,0.0,22.0,1.0,0.0,3.0,7.0
3,ID_D5I1M68U_Month_4,1.0,0,21:15:54.596519,7.0,1.0,14.0,-1.0,1.0,1.0,...,0.0,0.0,0.0,0.0,0.0,22.0,1.0,0.0,3.0,7.0
4,ID_D5I1M68U_Month_4,1.0,0,21:43:19.694875,7.0,2.5,0.0,6.0,1.0,3.0,...,0.0,0.0,0.0,0.0,0.0,22.0,1.0,0.0,3.0,7.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19837,ID_Y02FKZWI_Month_3,0.0,0,NaN,0.0,-1.0,-1.0,-1.0,-1.0,-1.0,...,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.0,0.0,26.0
19838,ID_FDOGWALS_Month_11,0.0,0,NaN,0.0,-1.0,-1.0,-1.0,-1.0,-1.0,...,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.0,0.0,5.0
19839,ID_YJCY8FF5_Month_5,0.0,0,NaN,0.0,-1.0,-1.0,-1.0,-1.0,-1.0,...,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.0,0.0,11.0
19840,ID_QDL8A9FQ_Month_4,0.0,0,NaN,0.0,-1.0,-1.0,-1.0,-1.0,-1.0,...,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.0,0.0,28.0
19841,ID_C5393PD0_Month_11,0.0,0,NaN,0.0,-1.0,-1.0,-1.0,-1.0,-1.0,...,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.0,1.0,6.0

In [223]:
temp = df_final.copy()

In [224]:
len(temp["User_ID"].unique())

17362

In [225]:
temp = temp.groupby("User_ID").mean()

In [226]:
temp.sort_values("User_ID")

,Participant Type,Successful Submission Count,Comp_participation_day,FeatureA,FeatureB,FeatureC,FeatureD,FeatureE,SecretCode,FeatureF,...,Updated_Profile,blog_ID,Viewed_Discussion,Updated_Submission,badge_HYIO,count_UA,Day duration,FeatureX,FeatureY,User sign-in day
User_ID,,,,,,,,,,,,,,,,,,,,,
ID_000H9XOP_Month_5,0.0,0.0,0.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,...,0.0,0.0,0.0,0.0,0.0,6.0,5.0,0.0,1.0,22.0
ID_003YJHQA_Month_4,0.0,0.0,0.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,...,2.0,0.0,0.0,0.0,0.0,11.0,1.0,0.0,1.0,12.0
ID_004UKSJV_Month_1,0.0,0.0,0.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,...,0.0,0.0,0.0,0.0,0.0,1.0,1.0,-1.0,-1.0,0.0
ID_004UKSJV_Month_12,0.0,0.0,0.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,...,4.0,0.0,0.0,0.0,0.0,11.0,2.0,0.0,0.0,28.0
ID_008D2J6C_Month_1,0.0,0.0,0.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,...,2.0,0.0,0.0,0.0,0.0,10.0,9.0,0.0,0.0,7.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
ID_ZZMHNLNT_Month_4,0.0,0.0,0.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,...,0.0,0.0,0.0,0.0,0.0,8.0,1.0,0.0,0.0,1.0
ID_ZZQK0LU6_Month_3,1.0,0.0,29.0,1.5,0.0,13.5,0.0,2.0,1.0,3.0,...,0.0,0.0,0.0,0.0,0.0,67.0,2.0,0.0,3.0,29.0
ID_ZZUNZJ2U_Month_2,0.0,0.0,0.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,...,0.0,0.0,0.0,0.0,0.0,12.0,1.0,0.0,0.0,30.0
ID_ZZVM2KO7_Month_4,0.0,0.0,0.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,...,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.0,0.0,22.0
ID_ZZVUJ45W_Month_3,1.0,0.0,5.0,1.0,7.0,4.0,1.0,1.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,13.0,1.0,0.0,0.0,5.0

In [227]:
df_max = df_final.groupby('User_ID').max()
df_sum = df_final.groupby('User_ID').sum()
df_mean = df_final.groupby('User_ID').mean()
df_min = df_final.groupby('User_ID').min()

In [228]:
df_final = df_mean

In [229]:
df_final["count_UA"] = df_sum["count_UA"]
df_final["Day last active"] = df_max["Day last active"]
df_final["User sign-in day"] = df_min["User sign-in day"]

In [230]:
df_final.reset_index(level=0, inplace=True)

In [231]:
df_final.columns = df_final.columns.str.replace(' ', '_')

In [235]:
df_final = df_final.fillna(0)

In [236]:
df_final.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17362 entries, 0 to 17361
Data columns (total 45 columns):
 #   Column                           Non-Null Count  Dtype
---  ------                           --------------  -----
 0   User_ID                          17362 non-null  object
 1   Participant_Type                 17362 non-null  float64
 2   Successful_Submission_Count      17362 non-null  float64
 3   Comp_participation_day           17362 non-null  float64
 4   FeatureA                         17362 non-null  float64
 5   FeatureB                         17362 non-null  float64
 6   FeatureC                         17362 non-null  float64
 7   FeatureD                         17362 non-null  float64
 8   FeatureE                         17362 non-null  float64
 9   SecretCode                       17362 non-null  float64
 10  FeatureF                         17362 non-null  float64
 11  FeatureG                         17362 non-null  float64
 12  FeatureH                         17362 non-null  float64
 13  FeatureI                         17362 non-null  float64
 14  Country_ID                       17362 non-null  float64
 15  competition_ended_month          17362 non-null  float64
 16  competition_started_month        17362 non-null  float64
 17  Day_last_active                  17362 non-null  float64
 18  Downloaded_Competition_Datafile  17362 non-null  float64
 19  Viewed_All_Discussions           17362 non-null  float64
 20  Confirmed_Email                  17362 non-null  float64
 21  Joined_Competition               17362 non-null  float64
 22  Signed_Up                        17362 non-null  float64
 23  Viewed_All_Competitions          17362 non-null  float64
 24  Viewed_All_Learning_Pages        17362 non-null  float64
 25  badge_OCZE                       17362 non-null  float64
 26  create_alias                     17362 non-null  float64
 27  identify                         17362 non-null  float64
 28  comp_ID                          17362 non-null  float64
 29  Signed_In                        17362 non-null  float64
 30  job_ID                           17362 non-null  float64
 31  Updated_Discussion               17362 non-null  float64
 32  Viewed_All_Jobs                  17362 non-null  float64
 33  Created_Submission               17362 non-null  float64
 34  Signed_Out                       17362 non-null  float64
 35  Updated_Profile                  17362 non-null  float64
 36  blog_ID                          17362 non-null  float64
 37  Viewed_Discussion                17362 non-null  float64
 38  Updated_Submission               17362 non-null  float64
 39  badge_HYIO                       17362 non-null  float64
 40  count_UA                         17362 non-null  float64
 41  Day_duration                     17362 non-null  float64
 42  FeatureX                         17362 non-null  float64
 43  FeatureY                         17362 non-null  float64
 44  User_sign-in_day                 17362 non-null  float64
dtypes: float64(44), object(1)
memory usage: 6.0+ MB

In [237]:
df_final

,User_ID,Participant_Type,Successful_Submission_Count,Comp_participation_day,FeatureA,FeatureB,FeatureC,FeatureD,FeatureE,SecretCode,...,Updated_Profile,blog_ID,Viewed_Discussion,Updated_Submission,badge_HYIO,count_UA,Day_duration,FeatureX,FeatureY,User_sign-in_day
0,ID_000H9XOP_Month_5,0.0,0.0,0.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,...,0.0,0.0,0.0,0.0,0.0,6.0,5.0,0.0,1.0,22.0
1,ID_003YJHQA_Month_4,0.0,0.0,0.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,...,2.0,0.0,0.0,0.0,0.0,11.0,1.0,0.0,1.0,12.0
2,ID_004UKSJV_Month_1,0.0,0.0,0.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,...,0.0,0.0,0.0,0.0,0.0,1.0,1.0,-1.0,-1.0,0.0
3,ID_004UKSJV_Month_12,0.0,0.0,0.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,...,4.0,0.0,0.0,0.0,0.0,11.0,2.0,0.0,0.0,28.0
4,ID_008D2J6C_Month_1,0.0,0.0,0.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,...,2.0,0.0,0.0,0.0,0.0,10.0,9.0,0.0,0.0,7.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17357,ID_ZZMHNLNT_Month_4,0.0,0.0,0.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,...,0.0,0.0,0.0,0.0,0.0,8.0,1.0,0.0,0.0,1.0
17358,ID_ZZQK0LU6_Month_3,1.0,0.0,29.0,1.5,0.0,13.5,0.0,2.0,1.0,...,0.0,0.0,0.0,0.0,0.0,134.0,2.0,0.0,3.0,29.0
17359,ID_ZZUNZJ2U_Month_2,0.0,0.0,0.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,...,0.0,0.0,0.0,0.0,0.0,12.0,1.0,0.0,0.0,30.0
17360,ID_ZZVM2KO7_Month_4,0.0,0.0,0.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,22.0
17361,ID_ZZVUJ45W_Month_3,1.0,0.0,5.0,1.0,7.0,4.0,1.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,52.0,1.0,0.0,0.0,5.0

In [238]:
df_final.to_csv('DataLast.csv')

## Groupby User_ID

In [240]:
temp = df_final.copy()

In [241]:
temp["User_ID"] = temp["User_ID"].str[0:11]

In [242]:
len(temp["User_ID"].unique())

12413

In [243]:
temp = temp.groupby("User_ID").mean()

In [244]:
temp.sort_values("User_ID")

,Participant_Type,Successful_Submission_Count,Comp_participation_day,FeatureA,FeatureB,FeatureC,FeatureD,FeatureE,SecretCode,FeatureF,...,Updated_Profile,blog_ID,Viewed_Discussion,Updated_Submission,badge_HYIO,count_UA,Day_duration,FeatureX,FeatureY,User_sign-in_day
User_ID,,,,,,,,,,,,,,,,,,,,,
ID_000H9XOP,0.0,0.0,0.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,...,0.0,0.0,0.0,0.0,0.0,6.0,5.0,0.0,1.0,22.0
ID_003YJHQA,0.0,0.0,0.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,...,2.0,0.0,0.0,0.0,0.0,11.0,1.0,0.0,1.0,12.0
ID_004UKSJV,0.0,0.0,0.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,...,2.0,0.0,0.0,0.0,0.0,6.0,1.5,-0.5,-0.5,14.0
ID_008D2J6C,0.0,0.0,0.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,...,2.0,0.0,0.0,0.0,0.0,10.0,9.0,0.0,0.0,7.0
ID_00ETFE7J,0.0,0.0,0.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,...,0.0,1.0,0.0,0.0,0.0,10.0,10.0,0.0,0.0,6.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
ID_ZZMHNLNT,0.0,0.0,0.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,...,0.0,0.0,0.0,0.0,0.0,8.0,1.0,0.0,0.0,1.0
ID_ZZQK0LU6,1.0,0.0,29.0,1.5,0.0,13.5,0.0,2.0,1.0,3.0,...,0.0,0.0,0.0,0.0,0.0,134.0,2.0,0.0,3.0,29.0
ID_ZZUNZJ2U,0.0,0.0,0.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,...,0.0,0.0,0.0,0.0,0.0,12.0,1.0,0.0,0.0,30.0
ID_ZZVM2KO7,0.0,0.0,0.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,22.0
ID_ZZVUJ45W,1.0,0.0,5.0,1.0,7.0,4.0,1.0,1.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,52.0,1.0,0.0,0.0,5.0

In [245]:
df_max = temp.groupby('User_ID').max()
df_sum = temp.groupby('User_ID').sum()
df_mean = temp.groupby('User_ID').mean()
df_min = temp.groupby('User_ID').min()

In [246]:
df_final = df_mean

In [247]:
df_final["count_UA"] = df_sum["count_UA"]
df_final["Day_last_active"] = df_max["Day_last_active"]
df_final["User_sign-in_day"] = df_min["User_sign-in_day"]

In [249]:
df_final

,Participant_Type,Successful_Submission_Count,Comp_participation_day,FeatureA,FeatureB,FeatureC,FeatureD,FeatureE,SecretCode,FeatureF,...,Updated_Profile,blog_ID,Viewed_Discussion,Updated_Submission,badge_HYIO,count_UA,Day_duration,FeatureX,FeatureY,User_sign-in_day
User_ID,,,,,,,,,,,,,,,,,,,,,
ID_000H9XOP,0.0,0.0,0.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,...,0.0,0.0,0.0,0.0,0.0,6.0,5.0,0.0,1.0,22.0
ID_003YJHQA,0.0,0.0,0.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,...,2.0,0.0,0.0,0.0,0.0,11.0,1.0,0.0,1.0,12.0
ID_004UKSJV,0.0,0.0,0.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,...,2.0,0.0,0.0,0.0,0.0,6.0,1.5,-0.5,-0.5,14.0
ID_008D2J6C,0.0,0.0,0.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,...,2.0,0.0,0.0,0.0,0.0,10.0,9.0,0.0,0.0,7.0
ID_00ETFE7J,0.0,0.0,0.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,...,0.0,1.0,0.0,0.0,0.0,10.0,10.0,0.0,0.0,6.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
ID_ZZMHNLNT,0.0,0.0,0.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,...,0.0,0.0,0.0,0.0,0.0,8.0,1.0,0.0,0.0,1.0
ID_ZZQK0LU6,1.0,0.0,29.0,1.5,0.0,13.5,0.0,2.0,1.0,3.0,...,0.0,0.0,0.0,0.0,0.0,134.0,2.0,0.0,3.0,29.0
ID_ZZUNZJ2U,0.0,0.0,0.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,...,0.0,0.0,0.0,0.0,0.0,12.0,1.0,0.0,0.0,30.0
ID_ZZVM2KO7,0.0,0.0,0.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,22.0
ID_ZZVUJ45W,1.0,0.0,5.0,1.0,7.0,4.0,1.0,1.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,52.0,1.0,0.0,0.0,5.0

In [250]:
df_final.reset_index(level=0, inplace=True)

In [251]:
df_final.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12413 entries, 0 to 12412
Data columns (total 45 columns):
 #   Column                           Non-Null Count  Dtype
---  ------                           --------------  -----
 0   User_ID                          12413 non-null  object
 1   Participant_Type                 12413 non-null  float64
 2   Successful_Submission_Count      12413 non-null  float64
 3   Comp_participation_day           12413 non-null  float64
 4   FeatureA                         12413 non-null  float64
 5   FeatureB                         12413 non-null  float64
 6   FeatureC                         12413 non-null  float64
 7   FeatureD                         12413 non-null  float64
 8   FeatureE                         12413 non-null  float64
 9   SecretCode                       12413 non-null  float64
 10  FeatureF                         12413 non-null  float64
 11  FeatureG                         12413 non-null  float64
 12  FeatureH                         12413 non-null  float64
 13  FeatureI                         12413 non-null  float64
 14  Country_ID                       12413 non-null  float64
 15  competition_ended_month          12413 non-null  float64
 16  competition_started_month        12413 non-null  float64
 17  Day_last_active                  12413 non-null  float64
 18  Downloaded_Competition_Datafile  12413 non-null  float64
 19  Viewed_All_Discussions           12413 non-null  float64
 20  Confirmed_Email                  12413 non-null  float64
 21  Joined_Competition               12413 non-null  float64
 22  Signed_Up                        12413 non-null  float64
 23  Viewed_All_Competitions          12413 non-null  float64
 24  Viewed_All_Learning_Pages        12413 non-null  float64
 25  badge_OCZE                       12413 non-null  float64
 26  create_alias                     12413 non-null  float64
 27  identify                         12413 non-null  float64
 28  comp_ID                          12413 non-null  float64
 29  Signed_In                        12413 non-null  float64
 30  job_ID                           12413 non-null  float64
 31  Updated_Discussion               12413 non-null  float64
 32  Viewed_All_Jobs                  12413 non-null  float64
 33  Created_Submission               12413 non-null  float64
 34  Signed_Out                       12413 non-null  float64
 35  Updated_Profile                  12413 non-null  float64
 36  blog_ID                          12413 non-null  float64
 37  Viewed_Discussion                12413 non-null  float64
 38  Updated_Submission               12413 non-null  float64
 39  badge_HYIO                       12413 non-null  float64
 40  count_UA                         12413 non-null  float64
 41  Day_duration                     12413 non-null  float64
 42  FeatureX                         12413 non-null  float64
 43  FeatureY                         12413 non-null  float64
 44  User_sign-in_day                 12413 non-null  float64
dtypes: float64(44), object(1)
memory usage: 4.3+ MB

In [252]:
df_final

,User_ID,Participant_Type,Successful_Submission_Count,Comp_participation_day,FeatureA,FeatureB,FeatureC,FeatureD,FeatureE,SecretCode,...,Updated_Profile,blog_ID,Viewed_Discussion,Updated_Submission,badge_HYIO,count_UA,Day_duration,FeatureX,FeatureY,User_sign-in_day
0,ID_000H9XOP,0.0,0.0,0.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,...,0.0,0.0,0.0,0.0,0.0,6.0,5.0,0.0,1.0,22.0
1,ID_003YJHQA,0.0,0.0,0.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,...,2.0,0.0,0.0,0.0,0.0,11.0,1.0,0.0,1.0,12.0
2,ID_004UKSJV,0.0,0.0,0.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,...,2.0,0.0,0.0,0.0,0.0,6.0,1.5,-0.5,-0.5,14.0
3,ID_008D2J6C,0.0,0.0,0.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,...,2.0,0.0,0.0,0.0,0.0,10.0,9.0,0.0,0.0,7.0
4,ID_00ETFE7J,0.0,0.0,0.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,...,0.0,1.0,0.0,0.0,0.0,10.0,10.0,0.0,0.0,6.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12408,ID_ZZMHNLNT,0.0,0.0,0.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,...,0.0,0.0,0.0,0.0,0.0,8.0,1.0,0.0,0.0,1.0
12409,ID_ZZQK0LU6,1.0,0.0,29.0,1.5,0.0,13.5,0.0,2.0,1.0,...,0.0,0.0,0.0,0.0,0.0,134.0,2.0,0.0,3.0,29.0
12410,ID_ZZUNZJ2U,0.0,0.0,0.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,...,0.0,0.0,0.0,0.0,0.0,12.0,1.0,0.0,0.0,30.0
12411,ID_ZZVM2KO7,0.0,0.0,0.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,22.0
12412,ID_ZZVUJ45W,1.0,0.0,5.0,1.0,7.0,4.0,1.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,52.0,1.0,0.0,0.0,5.0

In [253]:
df_final.to_csv('Dataset1.csv')

## Normalization

In [397]:
df_temp = df_final.copy()

In [398]:
df_temp.drop("User_ID", inplace=True, axis=1)

In [399]:
for column in df_temp.columns:
    df_temp[column] = df_temp[column]  / df_temp[column].abs().max()

In [400]:
df_temp

,Personal,Theme,Discussion_day,comment_day,Participant_Type,Successful_Submission_Count,Comp_participation_day,FeatureA,FeatureB,FeatureC,...,Function_DE,Function_DM,Function_Bus,Function_AI,Function_ML,count_UA,Day_duration,FeatureX,FeatureY,User_sign-in_day
0,-1.0,0.0,0.0,0.0,0.0,0.0,0.000000,-0.1250,-0.0625,-0.028571,...,0.0,0.0,0.0,0.0,0.0,0.000521,0.161290,0.0,0.333333,0.709677
1,-1.0,0.0,0.0,0.0,0.0,0.0,0.000000,-0.1250,-0.0625,-0.028571,...,0.0,0.0,0.0,0.0,0.0,0.000955,0.032258,0.0,0.333333,0.387097
2,-1.0,0.0,0.0,0.0,0.0,0.0,0.000000,-0.1250,-0.0625,-0.028571,...,0.0,0.0,0.0,0.0,0.0,0.000521,0.048387,-0.5,-0.166667,0.451613
3,-1.0,0.0,0.0,0.0,0.0,0.0,0.000000,-0.1250,-0.0625,-0.028571,...,0.0,0.0,0.0,0.0,0.0,0.000869,0.290323,0.0,0.000000,0.225806
4,-1.0,0.0,0.0,0.0,0.0,0.0,0.000000,-0.1250,-0.0625,-0.028571,...,0.0,0.0,0.0,0.0,0.0,0.000869,0.322581,0.0,0.000000,0.193548
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12408,-1.0,0.0,0.0,0.0,0.0,0.0,0.000000,-0.1250,-0.0625,-0.028571,...,0.0,0.0,0.0,0.0,0.0,0.000695,0.032258,0.0,0.000000,0.032258
12409,-1.0,0.0,0.0,0.0,1.0,0.0,0.935484,0.1875,0.0000,0.385714,...,0.0,0.0,0.0,0.0,0.0,0.011638,0.064516,0.0,1.000000,0.935484
12410,-1.0,0.0,0.0,0.0,0.0,0.0,0.000000,-0.1250,-0.0625,-0.028571,...,0.0,0.0,0.0,0.0,0.0,0.001042,0.032258,0.0,0.000000,0.967742
12411,-1.0,0.0,0.0,0.0,0.0,0.0,0.000000,-0.1250,-0.0625,-0.028571,...,0.0,0.0,0.0,0.0,0.0,0.000000,0.000000,0.0,0.000000,0.709677
12412,-1.0,0.0,0.0,0.0,1.0,0.0,0.161290,0.1250,0.4375,0.114286,...,0.0,0.0,0.0,0.0,0.0,0.004516,0.032258,0.0,0.000000,0.161290

In [401]:
df_temp.insert(0, 'User_ID', np.array(df_final["User_ID"]))

In [402]:
df_temp

,User_ID,Personal,Theme,Discussion_day,comment_day,Participant_Type,Successful_Submission_Count,Comp_participation_day,FeatureA,FeatureB,...,Function_DE,Function_DM,Function_Bus,Function_AI,Function_ML,count_UA,Day_duration,FeatureX,FeatureY,User_sign-in_day
0,ID_000H9XOP,-1.0,0.0,0.0,0.0,0.0,0.0,0.000000,-0.1250,-0.0625,...,0.0,0.0,0.0,0.0,0.0,0.000521,0.161290,0.0,0.333333,0.709677
1,ID_003YJHQA,-1.0,0.0,0.0,0.0,0.0,0.0,0.000000,-0.1250,-0.0625,...,0.0,0.0,0.0,0.0,0.0,0.000955,0.032258,0.0,0.333333,0.387097
2,ID_004UKSJV,-1.0,0.0,0.0,0.0,0.0,0.0,0.000000,-0.1250,-0.0625,...,0.0,0.0,0.0,0.0,0.0,0.000521,0.048387,-0.5,-0.166667,0.451613
3,ID_008D2J6C,-1.0,0.0,0.0,0.0,0.0,0.0,0.000000,-0.1250,-0.0625,...,0.0,0.0,0.0,0.0,0.0,0.000869,0.290323,0.0,0.000000,0.225806
4,ID_00ETFE7J,-1.0,0.0,0.0,0.0,0.0,0.0,0.000000,-0.1250,-0.0625,...,0.0,0.0,0.0,0.0,0.0,0.000869,0.322581,0.0,0.000000,0.193548
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12408,ID_ZZMHNLNT,-1.0,0.0,0.0,0.0,0.0,0.0,0.000000,-0.1250,-0.0625,...,0.0,0.0,0.0,0.0,0.0,0.000695,0.032258,0.0,0.000000,0.032258
12409,ID_ZZQK0LU6,-1.0,0.0,0.0,0.0,1.0,0.0,0.935484,0.1875,0.0000,...,0.0,0.0,0.0,0.0,0.0,0.011638,0.064516,0.0,1.000000,0.935484
12410,ID_ZZUNZJ2U,-1.0,0.0,0.0,0.0,0.0,0.0,0.000000,-0.1250,-0.0625,...,0.0,0.0,0.0,0.0,0.0,0.001042,0.032258,0.0,0.000000,0.967742
12411,ID_ZZVM2KO7,-1.0,0.0,0.0,0.0,0.0,0.0,0.000000,-0.1250,-0.0625,...,0.0,0.0,0.0,0.0,0.0,0.000000,0.000000,0.0,0.000000,0.709677
12412,ID_ZZVUJ45W,-1.0,0.0,0.0,0.0,1.0,0.0,0.161290,0.1250,0.4375,...,0.0,0.0,0.0,0.0,0.0,0.004516,0.032258,0.0,0.000000,0.161290

In [403]:
df_final = df_temp

In [404]:
df_final.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12413 entries, 0 to 12412
Data columns (total 63 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   User_ID                      12413 non-null  object
 1   Personal                     12413 non-null  float64
 2   Theme                        12413 non-null  float64
 3   Discussion_day               12413 non-null  float64
 4   comment_day                  12413 non-null  float64
 5   Participant_Type             12413 non-null  float64
 6   Successful_Submission_Count  12413 non-null  float64
 7   Comp_participation_day       12413 non-null  float64
 8   FeatureA                     12413 non-null  float64
 9   FeatureB                     12413 non-null  float64
 10  FeatureC                     12413 non-null  float64
 11  FeatureD                     12413 non-null  float64
 12  FeatureE                     12413 non-null  float64
 13  SecretCode                   12413 non-null  float64
 14  FeatureF                     12413 non-null  float64
 15  FeatureG                     12413 non-null  float64
 16  FeatureH                     12413 non-null  float64
 17  FeatureI                     12413 non-null  float64
 18  Country_ID                   12413 non-null  float64
 19  competition_ended_year       12413 non-null  float64
 20  competition_ended_month      12413 non-null  float64
 21  competition_ended_day        12413 non-null  float64
 22  competition_started_year     12413 non-null  float64
 23  competition_started_month    12413 non-null  float64
 24  competition_started_day      12413 non-null  float64
 25  Activity_Type                12413 non-null  float64
 26  Day_last_active              12413 non-null  float64
 27  Blog_Theme                   12413 non-null  float64
 28  Blog_Published_Year          12413 non-null  float64
 29  Blog_Published_Month         12413 non-null  float64
 30  Published_At_Day_of_month    12413 non-null  float64
 31  Remote                       12413 non-null  float64
 32  Experience                   12413 non-null  float64
 33  Employment_Type              12413 non-null  float64
 34  Company_Size                 12413 non-null  float64
 35  Industry_FS                  12413 non-null  float64
 36  Industry_Bank                12413 non-null  float64
 37  Industry_Loc                 12413 non-null  float64
 38  Industry_Gov                 12413 non-null  float64
 39  Industry_Health              12413 non-null  float64
 40  Industry_Res                 12413 non-null  float64
 41  Industry_Amb                 12413 non-null  float64
 42  Industry_Transp              12413 non-null  float64
 43  Industry_Scholar             12413 non-null  float64
 44  Industry_Log                 12413 non-null  float64
 45  Industry_Media               12413 non-null  float64
 46  Industry_Manuf               12413 non-null  float64
 47  Industry_Sales               12413 non-null  float64
 48  Industry_Insur               12413 non-null  float64
 49  Industry_Manage              12413 non-null  float64
 50  Industry_AI                  12413 non-null  float64
 51  Industry_Zindi               12413 non-null  float64
 52  Industry_Tech                12413 non-null  float64
 53  Function_DE                  12413 non-null  float64
 54  Function_DM                  12413 non-null  float64
 55  Function_Bus                 12413 non-null  float64
 56  Function_AI                  12413 non-null  float64
 57  Function_ML                  12413 non-null  float64
 58  count_UA                     12413 non-null  float64
 59  Day_duration                 12413 non-null  float64
 60  FeatureX                     12413 non-null  float64
 61  FeatureY                     12413 non-null  float64
 62  User_sign-in_day             12413 non-null  float64
dtypes: float64(62), object(1)
memory usage: 6.0+ MB

In [405]:
df_final

,User_ID,Personal,Theme,Discussion_day,comment_day,Participant_Type,Successful_Submission_Count,Comp_participation_day,FeatureA,FeatureB,...,Function_DE,Function_DM,Function_Bus,Function_AI,Function_ML,count_UA,Day_duration,FeatureX,FeatureY,User_sign-in_day
0,ID_000H9XOP,-1.0,0.0,0.0,0.0,0.0,0.0,0.000000,-0.1250,-0.0625,...,0.0,0.0,0.0,0.0,0.0,0.000521,0.161290,0.0,0.333333,0.709677
1,ID_003YJHQA,-1.0,0.0,0.0,0.0,0.0,0.0,0.000000,-0.1250,-0.0625,...,0.0,0.0,0.0,0.0,0.0,0.000955,0.032258,0.0,0.333333,0.387097
2,ID_004UKSJV,-1.0,0.0,0.0,0.0,0.0,0.0,0.000000,-0.1250,-0.0625,...,0.0,0.0,0.0,0.0,0.0,0.000521,0.048387,-0.5,-0.166667,0.451613
3,ID_008D2J6C,-1.0,0.0,0.0,0.0,0.0,0.0,0.000000,-0.1250,-0.0625,...,0.0,0.0,0.0,0.0,0.0,0.000869,0.290323,0.0,0.000000,0.225806
4,ID_00ETFE7J,-1.0,0.0,0.0,0.0,0.0,0.0,0.000000,-0.1250,-0.0625,...,0.0,0.0,0.0,0.0,0.0,0.000869,0.322581,0.0,0.000000,0.193548
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12408,ID_ZZMHNLNT,-1.0,0.0,0.0,0.0,0.0,0.0,0.000000,-0.1250,-0.0625,...,0.0,0.0,0.0,0.0,0.0,0.000695,0.032258,0.0,0.000000,0.032258
12409,ID_ZZQK0LU6,-1.0,0.0,0.0,0.0,1.0,0.0,0.935484,0.1875,0.0000,...,0.0,0.0,0.0,0.0,0.0,0.011638,0.064516,0.0,1.000000,0.935484
12410,ID_ZZUNZJ2U,-1.0,0.0,0.0,0.0,0.0,0.0,0.000000,-0.1250,-0.0625,...,0.0,0.0,0.0,0.0,0.0,0.001042,0.032258,0.0,0.000000,0.967742
12411,ID_ZZVM2KO7,-1.0,0.0,0.0,0.0,0.0,0.0,0.000000,-0.1250,-0.0625,...,0.0,0.0,0.0,0.0,0.0,0.000000,0.000000,0.0,0.000000,0.709677
12412,ID_ZZVUJ45W,-1.0,0.0,0.0,0.0,1.0,0.0,0.161290,0.1250,0.4375,...,0.0,0.0,0.0,0.0,0.0,0.004516,0.032258,0.0,0.000000,0.161290

In [406]:
df_final.to_csv('DatasetNorm.csv')